<div class="container" >
    <div class="cotizacionHeader">



    </div>
    <main>
    
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae omnis saepe quidem iusto, perspiciatis officia cupiditate alias iure adipisci eum explicabo eaque, laborum commodi laudantium autem pariatur maxime. Quam reprehenderit, error, laboriosam veritatis provident numquam soluta, nobis qui eaque necessitatibus beatae aperiam architecto in culpa minima sequi? Rerum, quas?
        Mollitia ipsa quisquam quia quam saepe, expedita ipsum est ducimus temporibus in soluta possimus, vel, libero excepturi numquam! Ducimus velit nulla voluptatem commodi doloremque odit, error tenetur minima repellat voluptates omnis voluptas eveniet aliquid debitis sapiente quibusdam corrupti, quo, repudiandae iusto veniam harum aperiam quod nihil excepturi. Laboriosam, similique repellat!
        Eaque, nam. Laborum asperiores odio delectus esse ipsum molestiae recusandae alias, eligendi minus tempora maiores a expedita eaque cupiditate ea fugiat, atque id, sapiente eos! Cum neque debitis necessitatibus eos dicta et officia culpa at, consequuntur qui dolorum quaerat dolorem minima explicabo exercitationem? Praesentium molestias a maxime perspiciatis, nostrum facere?
        Ea eveniet corporis iste dolorem minus, amet, harum maiores odio veniam quidem, explicabo eum sint dolor nisi quis repudiandae obcaecati quam tempora. Dicta fugit illo, voluptatibus expedita odit eligendi, officiis ipsum minus voluptatum similique incidunt ad facilis officia laboriosam perspiciatis, debitis atque non! Alias officiis, dolorem eligendi deserunt modi praesentium.
        Exercitationem velit a repellat sequi eum! Excepturi corporis fuga id, molestiae recusandae omnis dignissimos facere repellendus voluptates veniam labore vero illo, sunt sequi laudantium sed aut dolores necessitatibus? Aliquid sunt illo sapiente quod possimus inventore nobis alias exercitationem in esse velit et, quis iure quo odio repellendus pariatur eligendi totam.
        Veritatis dicta qui omnis laudantium reiciendis perspiciatis dignissimos numquam aliquam nihil, quisquam excepturi, vel assumenda totam! Illum eveniet doloremque nulla placeat nisi quidem harum. Hic laudantium nobis, exercitationem vel porro nemo quisquam tenetur cum explicabo! Consectetur laudantium nobis quis consequuntur debitis voluptatum, maiores voluptatibus asperiores officiis labore omnis incidunt eius.
        Quaerat dicta cumque deleniti cupiditate commodi error magnam animi nihil dolorum adipisci, et consectetur mollitia porro cum ad vel nisi totam sequi perferendis veniam repudiandae dignissimos? Pariatur tempora iusto ab facilis amet, necessitatibus atque quasi perferendis! Corporis, quae velit? Nobis libero labore eligendi ab iusto? Labore est fugit ullam sed?
        At adipisci tempora, laboriosam accusamus, possimus tenetur modi mollitia iste voluptatum quis doloribus ut repudiandae soluta eaque enim quas facilis ab, odio alias corporis nam? Laudantium asperiores repellendus inventore amet, modi illum? Quo harum fugiat neque perferendis libero temporibus voluptate impedit. Odio natus quia at et esse a neque laboriosam?
        Ipsum voluptatum eos cupiditate nesciunt officiis nulla, odio laudantium quia illum, tempore, commodi id? Obcaecati recusandae dolores vitae id eius, ex iusto error doloribus, perspiciatis enim optio distinctio illo, vel voluptas? Maiores, aspernatur, illo magni beatae tempore nulla aperiam sunt, iste accusantium harum delectus nostrum officiis aliquid culpa assumenda totam!
        Tempore odio blanditiis dolore voluptatum. Rerum in doloremque reprehenderit ipsam error rem repellendus libero incidunt exercitationem praesentium neque nobis non mollitia nihil nemo, at, velit officia tenetur delectus fugit necessitatibus veniam cumque nam consectetur. Cumque temporibus, labore nihil, assumenda consequatur debitis inventore nemo quod eum expedita facilis, eligendi molestiae perspiciatis.
        Nihil illum eum deleniti aspernatur, ducimus odit voluptatem laboriosam repudiandae corrupti architecto quae nostrum eius molestias nulla doloremque iste ea magnam consectetur ipsum odio quibusdam, recusandae sapiente quaerat? Culpa mollitia laudantium accusantium! Repellendus rerum odio atque maxime sed ad at, nihil quibusdam soluta minus vero sunt! Obcaecati quis ratione expedita.
        Voluptatibus, modi earum sint nostrum provident, sit exercitationem architecto magnam facere praesentium fugit. Ipsam, consequuntur beatae illo esse optio pariatur aperiam, veniam ducimus quaerat magni iste eveniet expedita laboriosam autem natus eius praesentium impedit tenetur iure earum eaque asperiores nobis. Consectetur unde aliquam accusantium quisquam iusto, laudantium perferendis quidem et.
        Illum id, consectetur hic cupiditate totam iste ullam sint sunt quae, nesciunt, odio molestias quis? Consectetur quas voluptate provident eaque voluptatibus. Expedita aspernatur eius perferendis corporis. Asperiores, commodi doloribus nulla earum magnam atque libero voluptatibus maxime consequuntur repellendus doloremque aperiam ut ratione eos, pariatur dolorem? Tenetur, quidem. Asperiores, delectus nisi.
        Ipsum minus unde fugiat, iste odio eos eius veritatis reiciendis at. Quasi reprehenderit iusto earum fuga, laboriosam nisi repudiandae nulla maxime, mollitia minus autem debitis quo, corrupti incidunt expedita illum. Consectetur ab, vel, minima cumque, nulla rerum quos nesciunt delectus eveniet sunt tenetur similique debitis beatae voluptatem aliquam non. Assumenda.
        Cupiditate adipisci earum excepturi perferendis? Consectetur explicabo et aut neque quas non quod, quidem ullam, corporis velit cum? Tempore accusantium velit dolores, voluptatem sed exercitationem repellat? Quisquam voluptatem quas libero ex quos autem. Delectus voluptatem consequuntur odit ipsum quo? Labore eum animi temporibus maxime excepturi facere modi doloribus est pariatur.
        Eos, minima perferendis iure magnam nam quas? Consequuntur a dolores cupiditate possimus ipsum aperiam dignissimos, eos nesciunt! Ipsa rerum cum, quibusdam quam architecto qui pariatur consectetur enim optio unde hic vel maiores totam aliquam vitae, dolorem facilis magni incidunt sit voluptates minus quisquam, blanditiis excepturi! Ea omnis nam et facere.
        Quas doloremque excepturi voluptatem velit saepe id, fugit eius corrupti nihil labore ratione natus perferendis delectus deleniti cupiditate a eveniet aliquam. Odit assumenda et aut doloremque eligendi, magnam debitis pariatur nulla quis unde nesciunt tempora commodi iure quibusdam ullam eveniet velit ducimus natus deleniti eius distinctio dignissimos quas non veritatis?
        Voluptatum dolor sed amet voluptate omnis? Eius sed, beatae ut voluptates nam doloremque suscipit totam soluta ea at maxime cumque quasi expedita consectetur aliquam asperiores cum aperiam repudiandae. Repellendus corporis, amet ut, vel vitae, sapiente laudantium accusantium natus dolor maxime illum recusandae facere beatae impedit laboriosam cupiditate perferendis alias deleniti.
        Facere autem harum soluta voluptates cum inventore odit numquam error, quod iusto! Deleniti et repellat ullam modi hic quo doloribus asperiores, ut temporibus impedit non mollitia? Corporis commodi similique repellat laboriosam deleniti unde earum minima, error in cumque? Repellat qui accusantium praesentium laudantium quas assumenda a, quo dignissimos ab asperiores?
        Corporis hic dolorem ullam consequuntur! Hic, laudantium voluptas eum libero, dolorum temporibus excepturi et recusandae odit quaerat nesciunt est incidunt quidem magni esse? Alias soluta, voluptas illo vel minus error consequatur magnam perspiciatis accusamus. Molestiae velit ratione quibusdam ut inventore, id soluta explicabo, assumenda temporibus impedit laudantium amet vel mollitia.
    
    </main>
    <div class="cotizacionBottom"  [style.height.px]="itemHeight"  >
       <div class="expandir"  *ngIf="stateBottom!=3" 
       (touchstart)="onTouchStart($event)"
       (touchmove)="onTouchMove($event)"
       (touchend)="onTouchEnd($event)"
       (click)="expand()"
       
       >
        <button class="btn_expandir">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M280 976q-33 0-56.5-23.5T200 896q0-33 23.5-56.5T280 816q33 0 56.5 23.5T360 896q0 33-23.5 56.5T280 976Zm400 0q-33 0-56.5-23.5T600 896q0-33 23.5-56.5T680 816q33 0 56.5 23.5T760 896q0 33-23.5 56.5T680 976ZM246 336l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692 574q-11 20-29.5 31T622 616H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
            <p  *ngIf="stateBottom<3">Ver mi carrito</p> 
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
        </button>
        
       </div>
     
       <div class="containBottom"  *ngIf="!minHeightReached"  >
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum sunt debitis qui natus illo obcaecati corrupti ipsum sapiente. Odit harum tempore assumenda voluptatibus impedit dolor laudantium necessitatibus nostrum veniam totam voluptatem sapiente obcaecati, culpa, velit esse facere, blanditiis ratione voluptate soluta magnam amet? Officia cum non consectetur! Voluptates, quisquam!
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus laborum, illum rerum eius ipsam numquam delectus ratione reprehenderit error repellat corporis non nisi dolorem animi illo dolorum quod hic? Modi aliquam, corporis totam ipsa saepe ullam. Laudantium, maxime sit accusantium impedit dolore doloremque fugit labore ex exercitationem dicta, sapiente veritatis?
        Labore officiis, pariatur dolores et magnam id nobis numquam nisi, sunt neque, laudantium quos esse qui blanditiis cum! Tempore soluta nostrum accusamus magnam quibusdam cum, dicta officia sint libero enim vero quae aspernatur tempora architecto molestiae expedita harum odio velit explicabo? Dolorem obcaecati quod ut nemo quisquam nesciunt voluptas ab.
        Eius, consequuntur. Est saepe fugiat ut minus nemo? Minima deserunt quo beatae. Recusandae eveniet eligendi libero, hic explicabo dolore voluptates perspiciatis aliquam voluptate est? Alias veniam illo cupiditate delectus ex a quam architecto sequi. Suscipit sint quaerat doloremque. Consequuntur expedita animi eum unde ratione? Iusto pariatur praesentium voluptatibus suscipit laudantium.
        Ab, nam eveniet sed omnis, dolores aliquid explicabo amet expedita debitis consectetur eius nisi. Modi ex officiis inventore quod debitis tempora aperiam quasi odit id doloremque eligendi dolorem voluptas tenetur, accusantium neque voluptatum beatae totam porro corporis cumque magnam ut? Numquam doloremque ut pariatur fugiat, iure excepturi odio soluta nulla.
       </div>
       <hr *ngIf="!minHeightReached" > 
       <div class="BottomFooter">
        <button  *ngIf="!minHeightReached"  (click)="reducir()">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="M6.062 15 5 13.938 8.938 10 5 6.062 6.062 5 10 8.938 13.938 5 15 6.062 11.062 10 15 13.938 13.938 15 10 11.062Z"/></svg>
            Cerrar
        </button>

       </div>


    
    </div>
    


</div>


