.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 70px 10px 10px;
}

.datos-poliza{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 20px;
     color: var(--main-color);
}

.datos-poliza .data span{
    font-weight: bold;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}



span.title {
    margin-bottom: 5px;
}



h1{
    color: var(--main-color);
}

.siniestros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    fill: var(--main-color);
}

.siniestros svg{
    fill: var(--main-color);
    margin-right: 10px;
}

.btn-siniestros{
    margin-left: 20px;
    border: 1px solid var(--main-color);
    padding: 5px 50px 5px 50px;
    background-color: none;
    background: none;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-siniestros:hover{
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-in-out;
}

.beneficiarios { 
    margin-top: 30px;
    color: var(--main-color);
    width: 100%;
}

.beneficiario-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
    padding-top: 20px;
    
}


.beneficiario { 
    height: 250px;
    width: 450px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;

    
}

.row .field .data{
    font-weight: bold;

}


@media (max-width: 768px){

    .container{
        padding: 10px;
    }

    .beneficiario-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .beneficiario{
        width: 100%;
    }
}