.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 70px 10px 10px;
}

.datos-poliza{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     padding: 20px;
     color: var(--main-color);
}

.datos-poliza .data span{
    font-weight: bold;

}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}



span.title {
    margin-bottom: 5px;
}



h1{
    color: var(--main-color);
}

.siniestros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--main-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    fill: var(--main-color);
}

.siniestros svg{
    fill: var(--main-color);
    margin-right: 10px;
}

.btn-siniestros{
    margin-left: 20px;
    border: 1px solid var(--main-color);
    padding: 5px 50px 5px 50px;
    background-color: none;
    background: none;
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn-siniestros:hover{
    background-color: var(--main-color);
    color: white;
    transition: all 0.3s ease-in-out;
}

.beneficiarios { 
    margin-top: 30px;
    color: var(--main-color);
    width: 100%;
}

.beneficiario-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    align-items: center;
    /* justify-content: space-evenly; */
    padding-top: 20px;
    
}


.beneficiario { 
    height: 250px;
    width: 450px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;

    
}

.row .field .data{
    font-weight: bold;

}


@media (max-width: 768px){

    .container{
        padding: 10px;
    }

    .beneficiario-list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .beneficiario{
        width: 100%;
    }
}




.poliza-imprimir span,
.poliza-imprimir p,
.poliza-imprimir h1{
    font-size: 5px;
    color: var(--text-color);
}


.poliza-imprimir{
    position: fixed;
    bottom: 50%;
    /* bottom: 20%; */
    width: 744px;
    height: 1050px;
    background-color: var(--body-bg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.poliza-imprimir .top{
    width: 744px;
    height: 210px;
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-bg);

}

.poliza-imprimir .top .design{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
    height: 18px;
    background-color: var(--body-bg);
}



.poliza-imprimir .top .design .left{
    width: 565.2px;
    height: 18px;
    background-color: var(--main-color);
}
.poliza-imprimir .top .design .right{
    background-color: #DF085A;
    border: #DF085A 1px solid;
    width: 178.8px;
    height: 18px;
}

.poliza-imprimir .top .logo { 
    display: flex;
    width: 744px;
    height: 192px;
    color: red;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 60px 30px 30px


}


.poliza-imprimir .top .logo .img{
    width: 96px;
    height: 96px;
    margin-right: 30px;
    position: relative;
    top: 1;
}

.poliza-imprimir .top .logo .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poliza-imprimir .top .logo .nombre{
    width: 450px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    margin-left: -20px;

}



.poliza-imprimir .top .logo .nombre p .assis { 
    font-weight: 120;
    color: var(--main-color);
    font-size: 36px;
}

.poliza-imprimir .top .logo .nombre p .trip { 
    font-weight: bold;
    color: var(--main-color);
    font-size: 42px;
    margin-left: -6px;
}

.poliza-imprimir .top .logo .nombre p .com{
    font-weight: bold;
    color :#DF085A;
    font-size: 20px;
}

.poliza-imprimir .top .logo .nombre .descripcion{
    margin-top: -10px;
}

.poliza-imprimir .top .logo .nombre .descripcion span{
    margin-top: 0px;
    font-size: 13px;
}


.datos-imprimir{
        width: 79.4px;
        height: 112.3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

}

.datos-imprimir p{
    font-size: 12px;
    color: var(--text-color);
}

.saludo{
    width: 565.2px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 36px;
    background-color: var(--main-color);
    color: white;
    border-radius: 0px 100px 100px 0px;
}

.saludo .left{
    width: 565.2px;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.saludo .left h1{
    font-size: 36px;
    color: #DF085A;
    margin-left: 75px;
    margin-top: -2px;
}

.saludo .left span{
    font-size: 20px;
    color: white;
    margin-top: -32px;
    margin-left: 90px;
}

.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 744px;
    height: 700px;
    margin-top: 50px;
}

.presentacion .parrafo { 
    width: 744px;
    height: fit-content;
}

.parrafo p{
    font-size: 16px;
    color: var(--text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 10px 90px 10px 75px;
}







