

<div class="container">
    <h1>Detalle de la poliza : {{id}}</h1>

    
    <div class="datos-poliza"  *ngIf="poliza">
        <div class="field">
            <span class="title">
                Estatus
            </span>
            <div class="estatus">
                <span class="icon">
                    <i class="fas fa-circle"></i>
                </span>
                <span class="text">
                    Activa
                </span>
            </div>
        </div>
        <div class="field">
            <span class="title">
                Destino(s)
            </span>
            <div class="data">
                <span>
                    {{poliza.destino}}
                </span>
            </div>

        </div>
        <div class="field">
            <span class="title">
                Fecha de salida
            </span>
            <div class="data">
                <span>
                    {{poliza.fecha_salida | dateOnly}}
                </span>
            </div>

        </div>
        <div class="field">
            <span class="title">
                Fecha de retorno
            </span>
            <div class="data">
                <span>
                    {{poliza.fecha_retorno | dateOnly}}
                </span>
            </div>

        </div>
        <div class="field">
            <span class="title">
                Fecha de emision
            </span>
            <div class="data">
                <span>
                    {{poliza.fecha_emision  | dateOnly}}
                </span>
            </div>

        </div>

    </div>

    <div class="siniestros">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M440 776h80V536h-80v240Zm40-320q17 0 28.5-11.5T520 416q0-17-11.5-28.5T480 376q-17 0-28.5 11.5T440 416q0 17 11.5 28.5T480 456Zm0 520q-83 0-156-31.5T197 859q-54-54-85.5-127T80 576q0-83 31.5-156T197 293q54-54 127-85.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 83-31.5 156T763 859q-54 54-127 85.5T480 976Z"/></svg>
        <div class="siniestro-desc">
            <span>(1) Siniestros reportados</span>
        </div>
        <button class="btn-siniestros">
            Ver siniestros
        </button>
    </div>

    <div class="beneficiarios">
        <h2>Personas aseguradas ({{listBeneficiarios.length}}) </h2>

        <div class="beneficiario-list">
            <div  *ngFor="let beneficiario of listBeneficiarios" class="beneficiario">
                <div class="row">
                    <div class="field">
                        <span class="title">
                            Nombre(s)
                        </span>
                        <div class="data">
                            <span>{{beneficiario.primer_nombre}} </span> 
                            <span *ngIf="beneficiario.segundo_nombre!=='0'">{{beneficiario.segundo_nombre}} </span> 
                        </div>
                    </div>
                    <div class="field">
                        <span class="title">
                            Apellido(s)
                        </span>
                        <div class="data">
                            <span>{{beneficiario.primer_apellido}} </span>
                            <span *ngIf="beneficiario.segundo_apellido !=='0' ">{{beneficiario.segundo_apellido}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="title">
                            Fecha de nacimiento
                        </span>
                        <div class="data">
                            <span>{{beneficiario.fecha_nacimiento | dateOnly}} </span> 
                        </div>
                    </div>
                    <div class="field">
                        <span class="title">
                            Numero de pasaporte
                        </span>
                        <div class="data">
                            <span>{{beneficiario.pasaporte}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="title">
                            Nacionalidad
                        </span>
                        <div class="data">
                            <span>{{beneficiario.origen}} </span>         
                        </div>
                    </div>
                    <div class="field">
                        <span class="title">
                            Telefono
                        </span>
                        <div class="data">
                            <span>{{beneficiario.telefono}} </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <span class="title">
                            Correo electronico
                        </span>
                        <div class="data">
                            <span>{{beneficiario.email}} </span> 
                        </div>
                    </div>
                    <div class="field">
                        <span class="title">
                            Numero de Poliza
                        </span>
                        <div class="data" *ngIf="poliza">
                            <span>{{id}} </span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>

    <div class="beneficios-extras">

    </div>

</div>

<div class="poliza-imprimir" id="poliza-imprimir" #polizaimprimir> 
    <div class="top">
        <div class="design">
            <div class="left">

            </div>
            <div class="right">

            </div>

        </div>


        <div class="logo">
            <div class="img">
                <img src="../../../assets/images/logo_img.png" alt="">
            </div>
            <div class="nombre">
                <p>
                    <span class="assis">assis</span>
                    <span class="trip">Trip</span>
                    <span class="com">.com</span>
                </p>
                <div class="descripcion"><span>Asistencia de Viajes</span></div>
            </div>
        </div>
    </div>



    <div class="saludo">
        <div class="left">
            <h1>
                ¡Hola!
            </h1>
            <span>
                {{nombre}}
            </span>
        </div>
    </div>

    <div class="presentacion">
        <div class="parrafo">
            <p>
                Queremos agradecer tu preferencia de realizar tu próximo viaje junto a assistrip.com,
                garantizando tu seguridad durante tu estadía con el plan adquirido.
            </p>
        </div>
        <div class="parrafo">
            <p>
                Nuestra prioridad es acompañarlos durante tus días fuera de tu país, protegiéndote
                en cada paso que des. Velando así con una atención las 24 horas del día. 
            </p>

        </div>
        <div class="parrafo">
            <p>
                Cada viajero que cubrimos es un nuevo compromiso sumado a los miles que ya
                tenemos.
            </p>

        </div>
        <div class="parrafo">
            <p>
                Recuerda llevar contigo tu Póliza de asistencia, para solicitar cualquier ayuda y tener
                a mano tu código. Además de revisar el detalle completo sobre las coberturas,
                condiciones, exclusiones y limitaciones que pueden aplicar al servicio contratado,
                mismo que podrás ver en tu póliza y en el condicionado. 

            </p>
        </div>
        <div class="parrafo">
            <p>
                Recuerda revisar tu correo electrónico, para conocer más acerca de nuestros
                servicios en la plataforma de nuestra página web.
            </p>

        </div>
        <div class="parrafo">
            <p>
                ¡¡¡Reiteramos nuestra gratitud por la confianza depositada en nosotros y te
                deseamos un muy buen viaje!!!
            </p>

        </div>
        <div class="parrafo">
            <p>
                Siempre contigo
            </p>
        </div>
    </div>

    <div class="footer">
        <div class="datos">
            <div class="firma">

            </div>

            <div class="localizacion">
                <div class="qr">

                </div>
                <div class="descripcion">
                    <p>Visitanos en nuestras plataformas sociales</p>
                </div>

            </div>

        </div>

        <div class="cierrePagina">
            <div class="design">
                <div class="detalle">
    
                </div>
                <div class="logo">
    
                </div>
                
            </div>
            <span class="date">
                05/12/2022 9:27:56
            </span>
        </div>
        


    </div>
    
</div> 
