<form   >
    <div class="form second">
        <header>Listado de personas</header>
        <div class="details personal">
            

            

            <div class="listPolicies">
                <div *ngFor="let policy of listPolicies" class="contentBx" [class.active]="policy.isDropdownOpen">
                    <div class="headerPolicie" (click)="togglePolicie(policy)" > 
                        <div class="label">{{policy.poliza.name}} {{policy.poliza.lastName}} - {{policy.polizaNombre}} </div>
                       <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
                    </div>
                    <div class="content">

                        <form class="policyForm" [formGroup]="policy.poliza.itemForm" (ngSubmit)="onSubmit(policy)">
                            <div class="fields">
                                <div class="input-field">
                                    <label>Nombre(s):</label>
                                    <input type="text" formControlName="name">

                                </div>
                                <div class="input-field">
                                    <label>Apellido(s):</label>
                                    <input type="text" formControlName="lastName">
                                </div>
                                <div class="input-field">
                                    <label>Fecha de nacimiento:</label>
                                    <input type="date" (change)="onDateChange($event, policy)"  formControlName="birthday" >
                                </div>
                                <div class="input-field">
                                    <label>Plan a elegir:</label>
                                    <select  (change)="togglePlain($event, policy)" class="listado" name="listado" id="listadoId" formControlName="plan">
                                        <option value="pais">Seleccione un plan</option>
                                        <option  *ngFor="let plan of policy.listPlanes"     value={{plan.servicio_id}}  > {{plan.servicio}}  </option>
                                    </select>
                                </div>

                               
                                
                                    
                               

                                
                                    

                                
                                <!-- <div class="input-field">
                                    <label>Item Name:</label>
                                    <input type="text" formControlName="name">

                                </div>
                                <div class="input-field">
                                    <label>Item Quantity:</label>
                                    <input type="text" formControlName="lastName">
                                </div> -->
                                
                            </div>
                            <label *ngIf="policy.isPlainSelected">Extras disponibles</label>
                            <div class="listCard">
                                
                                <div class="cardContainer" *ngFor="let extraItem of policy.listExtras" (click)="toggleExtra(policy, extraItem.id)"  >
                                    
                                        <div class="card" [class.gray]="extraItem.checked"   >
                                            <div class="card-content">

                                                <h2 class="card-title">{{extraItem.extra.descripcion}}</h2>
                                                <p class="card-text">
                                                    {{extraItem.extra.cobertura}} 
                                                </p>

                                            </div>
                                           
                                            
                                
                                        
                                        </div>
                                        <svg  *ngIf="extraItem.checked" class="check-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M9 16.17L4.83 12L3.4 13.41L9 19L21 7L19.59 5.59L9 16.17Z" fill="#4CAF50"/>
                                        </svg>
                                    
                                </div>
                            </div>
                           
                                    

                            <div class="buttonSpace">
                                <button  class="checkBtn" type="submit">
                                    agregar cliente
                                </button>
                                <button (click)="deleteItem(policy)">Delete Item</button>
                            </div>

                            
                        </form>



                    </div>
                </div>
            </div>       
        </div>

        <button class="addItem" (click)="addItem()">  
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M440 856V616H200v-80h240V296h80v240h240v80H520v240h-80Z"/></svg>
            Add Item
        </button>
        <div class="buttonSpace">
                <button (click)="backPrev()" >  Prev</button>
                
                <button (click)="next()">Add Item</button>


        </div>

        
        
        
    </div>
    
  <!-- <button type="submit">Guardar</button> -->
</form>