.container_form {
  display: grid;
  
  grid-template-columns: 2fr 1fr; /* Set columns to 2/3 and 1/3 of available space */
  height: 100%;
  width: fit-content;
  padding-bottom: 20px; /* Set height for the container */
}

@media (max-width: 600px) {
  /* Stack sections vertically on screens smaller than 600px */
  .container_form {
    grid-template-columns: 2fr;
    grid-template-rows: 2fr 1fr;
  }
  
  .left-section {
    grid-row: 1 / 2; /* Move left section to top row */
  }
  
  .right-section {
    grid-row: 2 / 3; /* Move right section to bottom row */
  }
}

.left-section {
  background-color: blue;
  color: white;
  padding: 20px;
}

.right-section {
  background-color: red;
  color: white;
  padding: 20px;
}
