<div class="container_form">
    <div class="left-section">
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus inventore quas et magnam ipsa animi dolore, iste esse culpa iusto!

    </div>
    <div class="right-section">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores quam autem, blanditiis libero saepe molestiae molestias ad minima beatae eos consequatur reiciendis voluptatum perspiciatis consectetur adipisci sit assumenda accusamus culpa voluptatibus? Saepe voluptas reprehenderit dolore tempore voluptatibus dignissimos ea facilis itaque! Optio delectus laboriosam atque nostrum minus mollitia voluptate sit.</div>
  </div>
