::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.container { 
    width: 100%;
    height: 100%;
    display: grid;
    background: var(--body-bg);
    overflow-y: auto;
    transition: all 0.5s ease;
    
} 

.container-cards{
  height: 100%;
    width: fit-content;
    min-width: 800px;
    display: grid;
    background: var(--body-bg);
    transition: all 0.5s ease;
}

.cotizacionHeader{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 5px;
    top: 10vh;
    transition: all 0.5s ease;
}

.header-title{
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 10px;
}

.list-row{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

.list-row form{
  display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
}

.list-item{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.item-space{
  width: 100%;
  padding: 15px;
}

.item-space.center { 
  justify-content: center;
  padding-top: 25px;
  height: 100%;
  width: 100%;
}

.item-space input{
  padding-top: 5px;
  padding-left: 8px;
  height: 40px;
  width: 100%;
}

.item-space button{
  display: flex;
  flex-direction: row;
  border: none;
  background: none;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  fill: var(--main-color);
  cursor: pointer;
}

.item-space .btn_cotizar{
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  color: white;
  fill: white;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
}

.btn_cotizar svg{
  margin-left: 20px;
  transition: all 0.5s ease;
}

.btn_cotizar:hover svg{
  margin-left: 50px;
  transition: all 0.5s ease;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

button span { 
  padding-left: 5px;
}

.origen,
.destino
{
    padding: 10px;
}

h2{
    font-size: 15px;
    font-weight: bold;
    color: var(--main-color);
    margin: 0;
    padding: 0;
}

.origen .select-space{
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-color);
}

.origen .select-space svg{
  position: relative;
  left: 25px;
  top: 2px;
}

.origen .select-space select{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 10px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

.origen .select-space select option{
  font-size: 15px;
}

.container-data{ 
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%;
  }

  .wrapper :where(.title, li, li i, .details){
    display: flex;
    align-items: center;
  }

  .title img{
    max-width: 21px;
  }

  .title h2{
    font-size: 21px;
    font-weight: 600;
    margin-left: 8px;
  }

  .wrapper .content{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 5px;
    overflow-y: auto;
    height: 10vh;
    gap: 2px;

  }

  .content p{
    font-size: 15px;
  }

  .content ul{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    gap: 2px;
  }

  .content ul  li{
    color: var(--main-color);
    list-style: none;
    font-size: 10px;
    margin-right: 2px;
    border-radius: 5px;
    background-color: var(--body-bg);
    padding: 3px 5px 3px 6px;
    border: 1px solid var(--main-color);
  }

  .content ul li svg{
    height: 20px;
    width: 20px;
    fill: var(--main-color);
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    justify-content: center;
  }

  .content ul input{
    flex: 1;
    padding: 3px;
    border: none;
    outline: none;
    font-size: 12px;
  }

  .options { 
    display: flex;
    height: fit-content;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    transition: 0.3 all ease-in-out;
  }

  .options svg{ 
    fill: white;
  }

  .options .listado{
    padding-left: 5px;
    background-color: var(--main-color);
    width: fit-content;
    height: 20px;
    color: white;
    border: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
  }

  .overflow{
    overflow-y: auto;
    height: 10vh;
  }

  option { 
    color: black;
    background-color: white;
  }
  
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);
}

.cotizaciones-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
    gap: 10px;
}

.listExtras { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.cardContainer {       
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  }

.extra {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 4px;
  height : 150px;
  margin: 12px;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(38,38,38,0.2);
}

.extra.gray {
  opacity: 0.5;
}

.check-icon {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: opacity 0.3s ease;
  margin-top: -150px;
  margin-left: 25px;
}

.dropdown-list{
  background-color: #EDE8F3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: none;
  position: absolute;
  width: 100px;
}

.dropdown-list  .btn_add_cliente{
  background-color: var(--main-color);
  color: white;
  fill: white;
  width: fit-content;
  border-radius: 5px;
  margin: 2px;
}

.btn-seeMore{
  display: flex;
  margin: 5px;
  border-radius: 10px ;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  background-color: var(--body-bg);
  color: var(--text-color);
  fill: var(--text-color);
  transition: all 0.5s ease;
}

.btn-seeMore:hover{
  color: var(--main-color);
  fill: var(--main-color);
  transition: all 0.5s ease;
  cursor: pointer;
}

.cotizacionMain {
  width: 100%;
  background: var(--body-bg);
  height: fit-content;
  transition: all 0.5s ease;
  overflow-y: auto;
  position: fixed;
  height: 75vh;
}

.footer-desktop{
    display: flex;
    position: fixed;
    bottom: 0;
    height: 15vh;
    background-color: var(--body-bg);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

.cotizacionMain .row {
  display: flex;
  width: fit-content;
  height: 100%;
}

.row.top{
  margin-top: 17vh;
  background-color: var(--body-bg);
  padding-top: 40px;
  height: 50%;
  transition: all 0.5s ease;
}

.row.top.sticky{
  top: 16vh;
  z-index: 11;
  position: sticky;
  transition: all 0.5s ease;


}

.row.pt-20 {
  padding-top: 120px;
  z-index: 9;
}

.column.sticky{
  width: 600px;
  min-width: 600px;
  position: sticky;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.title-cat{
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);

}

.sub-cat{
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
  margin: 10px 30px 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 20px;

}

.full-width{
  width: 100%;
}

.sub-cat span{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 20px;
}

.sub-cat hr{
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  margin: 10px 0px 10px 0px;
}

.row.center{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row.center button{
  width: 150px;
  height: 50px;
  background-color: var(--body-bg);
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  transition: 0.3 all ease-in-out;
}

.row.center button.active{
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  scale: 1.1;
  transition: 0.3 all ease-in-out;
}

.cotizacionMain .row .column { 
  display: flex;
    flex-direction: column;
    background-color: var(--body-bg);
}

.row .container{
  width: 100%;
  overflow-x: auto;
  height: fit-content;
} 

.block{
  padding: 0px;
}

.block.mobile{
  display: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ECE6F1;
  border-radius: 5px;
  background-color: #ECE6F1;
  width: 300px;
  height: fit-content;  /* Add padding inside cards */
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.card.bg-white{
  background-color: var(--body-bg);
  border-color: var(--body-bg);
}

.card h2 {
  font-size: 15px; /* Add font size to card title */
  font-weight: bold;
}

.card p {
  margin-top: 20px;
  height: fit-content;
  width: 145px;
  color: var(--main-color);
}

.card span{
  font-weight: bold;
}

.title-cat.c-white{
  color: #ECE6F1;
}

.card.bg-white .title-cat.c-white{
  color: var(--body-bg);
}

.card svg.red{
  fill: red;
}

.card svg.green { 
  fill: green;
}

.card span.price{
  font-weight: bold;
  color: var(--main-color);

}

.card .btn-select{
  background-color: var(--main-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: white;
  color: white;
  width: 80%;
  padding: 0 20px 0 20px;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.card .btn-detalles{
  background: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--main-color);
  fill: var(--main-color);
}

.card:hover .btn-select{
  scale: 1.05;
}

.cotizacionBottom{
    display: none;
    background-color: var(--body-bg);
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom: 0;
    align-items: center ;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: wheat;
    padding: 20px;
}

.expandir{
  height: fit-content;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -10px;

  width: 100vw;

}

.expandir .btn_expandir{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    align-items: center;
    border: none;
    background: none;
    margin-top: -10px;
    color: var(--main-color);
    font-size: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.cotizacionBottom .BottomFooter{
    position: absolute;
    bottom: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 5;
}

.cotizacionBottom .BottomFooter button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg);
    border: none;
    fill: var(--main-color);
    color: var(--main-color);
    font-size: 20px;

}

.contain-pagar{
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}

.contain-pagar button{
  padding: 10px;
  width: 70%;
  height: 30px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: var(--body-bg);
  color: var(--main-color);
  
}

.contain-pagar button.active{
  
  background-color: var(--main-color);
  color: white;
  border: none;
}

.containBottom{
    overflow: auto;
    height: fit-content;
}

.expandir .btn_expandir svg{
    
    fill: var(--main-color);
    
}

hr{
    border-color: coral;
    
    width: 100%;

}

.mobile-row{
  display: none;
}


.cotizacionMain .row.desktop{ 
  display: flex;
  height: fit-content;
}

.cotizacionMain .row.mobile{
  display: none;
}

.btn-age{ 
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  justify-content: center;
}

.btn-age button  {
  display:  flex;
  font-size: 12px;
  background-color: var(--body-bg);
  color: var(--main-color);
  border : 1px solid var(--main-color);
  padding: 15px;
  scale: none;
}

.btn-age button.active{
  background-color: var(--main-color);
  color: white;
  border: none;
  scale: 1.15;

}

 hr { 
  width: 100%;
  border-color: var(--main-color);
  margin-top: 10px;
  padding: 0 30px 0px 30px;
  margin-bottom: 10px;
}

.list{
  display: flex;
  padding-top: 0px;
  flex-direction: row;
  align-items: flex-start;

}

.listCards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
  width: fit-content;
}

.listCards.sticky{
  padding-top: 0px;
}

.alert { 
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color:  #CCF4F9;
  border: 1px solid var(--main-color);
  color:  var(--main-color);
  
}

.btn-age.sticky {
  display: none;
  }
  
  .alert.sticky {
  display: none;
  }

.listadoBeneficio{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.list-beneficios{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;

}

.beneficio-estado{
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
}

.card .listado{
  padding-top: 10px;
  width: 100%;

}

.beneficio-btn{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items:flex-start;
  width: 100%;
  font-size: 15px;
  margin-top: 25px;
}

.expand-btn{
  position: relative;
  right: 2px;
}

.btn-pagar{
  position: relative;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  bottom: 10px;
}

.btn-pay{
  background-color: var(--body-bg);
  color: var(--main-color);
  border: 1px solid var(--main-color);
  
}

.btn-pay.active{
  
  background-color: var(--main-color);
  color: white;
  border: none;
}

.sub-cat.desktop{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 20px;
}

.type-beneficio{
  width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding-left: 20px; */
    padding: 10px 20px 20px 30px;
}

@media (max-width: 768px){

    .border-1{
      border :1px solid var(--main-color);
      background-color: var(--main-color);
      color: var(--main-color);
      height: fit-content;
      width: 100%;
      padding-bottom: 20px;
    }

    .cotizacionMain{
        position: fixed;
        top: 32vh;
        padding-left: 10px;
        padding-right: 10px;
        height: calc(68vh - 10px);
        overflow-y: auto;
        overflow-x: hidden;
        
    }
    
    .cotizacionBottom{
        display: flex;
    }

    .cotizacionHeader{
        height: 20vh;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        
        
        
    }

   .header-title{
        
        display: none;
    }

    .mobile-row{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        color: white;
        overflow-x: auto;
        overflow-y: auto;
    }

    .listCountries{
      font-size: 20px;
      font-weight: bold;
    }

    .list-row{
      display: none;
      
    }

    .listCards{
        width: 100%;
    }

    .item-list-first{
      padding-top: 15px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      background-color: var(--main-color);
      color: white;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    
    .item-list-second{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      
      margin-bottom: 10px;
      width: 100%;
      height: 60%;
    }

    .subitem{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      fill: white;
    }

    .subitem.f-row{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .subitem.f-row.f-start{
      justify-content: flex-start;
    }

    .subitem svg{
      fill: white;
    }

    .subitem span{
      margin-left: 5px;
    }

    .subitem span.red{
      color: red;
    }

    .btn-editar{ 
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 20px;
      font-weight: bold;
      background: none;
      border: none;
      fill: white;
      color: white;
      align-items: center;
    }

    .cotizacionMain .row.desktop{ 
      display: none;
    }

    .cotizacionMain .row.mobile{
      display: flex;
      flex-direction: column;
      overflow-y: auto;

    }

    .list{
      padding-top: 20px;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .card{
      width: 90%;
      margin: 20px;
      padding: 10px;
    }

    .footer-desktop{
      display: none;
    }

    .title-cat{
      font-size: 20px;
      font-weight: bold;
      color: var(--main-color);
      margin: 10px;
    }
}


@media (max-width: 420px){
  .btn-editar,
  .listCountries{
    font-size: 15px;
  }

  .subitem span{
    font-size: 12px;
  }

}
