<div class="container">

  <blog-listado></blog-listado>
  <blog-builder></blog-builder>


  <!-- <div class="actions">
    <h2>Acciones</h2>
    <hr>

    <div class="buttons">
      <button type="button" class="emitir active ">
        Agregar Blog
      </button>

      <div class="loading-container"
        style="display: flex; flex-direction: row; align-items: center; justify-content: center;">

        <loading-process ></loading-process>
      </div>


    </div>

    <hr>




  </div>

  <div class="left">
    <h2>Nuevo Blog</h2>

    <div class="container">

      <div class="row">

        <form (ngSubmit)="guardar(forma)"  #forma="ngForm">
          <div class="field">
            <label for="">TITULO</label>

            <input type="text" class="form-control" [(ngModel)]="blog.titulo" name="titulo" >
          </div>
          <div class="field">
            <label for="">DESCRIPCION</label>

            <!-- <textarea name="descripcion" [(ngModel)]="blog.descripcion" rows="3"></textarea> -->
            <!-- <quill-editor [(ngModel)]="blog.descripcion" name="descripcion" ></quill-editor> -->
          <!-- </div> -->



          <!-- <P>{{blog.descripcion.length}}</P> -->


        <!-- </form> -->

      <!-- </div> -->


    <!-- </div> -->




  <!-- </div> -->

</div>
