
<div class="container">
  <h2>Listado de reembolsos</h2>
  <hr>
      <search-box  [placeholder]="'Buscar por numero de reembolso'" ></search-box>
      <div class="table-container">
        <div class="table-data">
          <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
            <img
            src="assets/svg/loading.svg"
            alt=""
            >
            <span>Espere un momento, cargando la informacion</span>
          </div>
          <table  [@loadingAnimation]="hasLoaded ? 'show' : 'hide'">
            <thead>
              <tr>

                <th>Reembolso</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>fecha</th>
                <th>siniestro_id</th>
                <th>estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let reembolso of listadoReembolsos"  [routerLink]="['../',reembolso.siniestro_id]" >
                <td>
                  {{reembolso.reembolso_id}}
                </td>
                <td>
                  {{reembolso.ciudad}}
                </td>
                <td>
                  {{reembolso.pais}}
                </td>
                <td>
                  {{reembolso.fecha_emision | dateOnly}}
                </td>
                <td>
                  {{reembolso.siniestro_id}}
                </td>
                <td style="display: flex; flex-direction: column; align-items: center;justify-content: center;">
                  <div class="description process" *ngIf="reembolso.status ===1">
                    En proceso
                  </div>
                  <div class="description success" *ngIf="reembolso.status ===2">
                    Reembolsado
                  </div>
                  <div class="description denied" *ngIf="reembolso.status ===3">
                    Anulado
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>

      </div>
</div>
