            <header>Clientes</header>
                        <form   (ngSubmit)="agregar($event)"  [formGroup]="formData">
                            
                                <div class="details personal">
                                    <span class="title">Las fechas del viaje</span>
                
                                    <div class="fields">
                                        <div class="input-field">
                                            <label   >Nombre : </label>
                                            <input type="text" placeholder="El nombre del titular" formControlName="nombre"    >
     
                                        </div>
                
                                        <div class="input-field">
                                            <label>Apellido : </label>
                                            <input type="text" placeholder="El apellido del titular" formControlName="apellido" >
                                        </div>


                                        <div class="input-field">
                                            <label >Nit : </label>
                                            <input type="text" placeholder="numero de nit" formControlName="nit" >
                                        </div>

                                        <div class="input-field">
                                            <label >Telf : </label>
                                            <input type="number" placeholder="0000000000"  formControlName="telf"  >
                                        </div>

                                        <div class="input-field">
                                            <label >Origen: </label>
                                            <select formControlName="nationality"  formControlName="origen" placeholder="Bolivia">
                                                <option *ngFor="let country of countries" value={{country.etiqueta}}> {{country.etiqueta}}</option>
                                            </select>
                                        </div>

                                        <div class="input-field">
                                            <label >Email: </label>
                                            <input type="email" placeholder="email@gmail.com"  formControlName="email"  >
                                        </div>


              
                                    </div>
                                    
                                   
    
                                        
                                    
                                </div>
                                
                                <div class="buttonSpace">
                                    <button type="button" (click)="backBefore()" class="nextBtn">
                                        <span class="btnText">Volver al anterior</span>
                                    </button>
                                    <button type="submit" class="nextBtn">
                                        <span class="btnText">Siguiente</span>
                                    </button>
                                </div>