<div class="container">
    <div class="main-polizas">
        <div class="cotizaciones">
            <h2>
                Detalles para las polizas
            </h2>

            <div  *ngIf="datosCotizacionMenores.length>0" class="group-cotizacion">

                <span>Menores de 75</span>
                <hr>

                <div class="list-cotizacion">
                    <ng-container *ngFor="let poliza of listPolizas" >
                            <form [formGroup]="poliza.form"*ngIf="poliza.type===1" class="cotizacion"  [class.active]="poliza.isOpen" >
                                <div class="cotizacion-header"(click)="openForm(poliza)"  >
                                    <div class="data">
                                        <div class="data-poliza">
                                            <svg  *ngIf="!poliza.form.valid; else valid"  class="warning" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M92 936q-9 0-15.652-4.125Q69.696 927.75 66 921q-4.167-6.6-4.583-14.3Q61 899 66 891l388-670q5-8 11.5-11.5T480 206q8 0 14.5 3.5T506 221l388 670q5 8 4.583 15.7-.416 7.7-4.583 14.3-3.696 6.75-10.348 10.875Q877 936 868 936H92Zm392.175-117q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5Zm0-111q12.825 0 21.325-8.625T514 678V514q0-12.75-8.675-21.375-8.676-8.625-21.5-8.625-12.825 0-21.325 8.625T454 514v164q0 12.75 8.675 21.375 8.676 8.625 21.5 8.625Z"/></svg>
                                            <ng-template #valid> 
                                                <svg    class="success" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="m421 667-98-98q-9-9-22-9t-23 10q-9 9-9 22t9 22l122 123q9 9 21 9t21-9l239-239q10-10 10-23t-10-23q-10-9-23.5-8.5T635 453L421 667Zm59 309q-82 0-155-31.5t-127.5-86Q143 804 111.5 731T80 576q0-83 31.5-156t86-127Q252 239 325 207.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 82-31.5 155T763 858.5q-54 54.5-127 86T480 976Z"/></svg>

                                            </ng-template>
                                            <div class="data-cliente">
                                                <span>Poliza 1</span>
                                                <span class="detalle-poliza">Dato personales completos</span>
                                            </div>
                                            
                                        </div>
        
                                        <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 699q-6 0-11-2t-10-7L261 492q-8-8-7.5-21.5T262 449q10-10 21.5-8.5T304 450l176 176 176-176q8-8 21.5-9t21.5 9q10 8 8.5 21t-9.5 22L501 690q-5 5-10 7t-11 2Z"/></svg>
        
                                    </div>
                                </div>
                                <div class="cotizacion-main">
        
                                    <div class="field">
                                        <label for="nombre">Nombre(s)</label>
                                        <input type="text" formControlName="nombres" name="nombres" placeholder="Nombre(s)">
                                    </div>
                                    <div class="field">
                                        <label for="apellido">Apellido(s)</label>
                                        <input type="text"  formControlName="apellidos" id="apellidos" name="apellidos" placeholder="Apellido(s)">
                                    </div>
                                    <div class="field">
                                        <label for="age">Fecha de nacimiento</label>
                                        <input class="date-input"  [min]="fechaLimite" formControlName="age"  type="date" name="age" id="age" value="" placeholder="00/00/0000">
                                    </div>
                                   
                                    <div class="field">
                                        <label for="nombre">Nacionalidad</label>
                                        <div class="select"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Z"/></svg>
                                            <select name="origen" id="origen"  formControlName="origen"  >
                                                <option value="Bolivia">Bolivia</option>
                                                <option value="Argentina">Argentina</option>
                                                <option value="Brasil">Brasil</option>
                                                <option value="Chile">Chile</option>
                                                <option value="Colombia">Colombia</option>
                                                <option value="Ecuador">Ecuador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="nombre">Genero</label>
                                        <div class="select"> 
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Z"/></svg>
                                            <select name="gender" id="gender"  formControlName="gender"  >
                                                <option value="1">Masculino</option>
                                                <option value="2">Femenino</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label for="number">Numero de Ci</label>
                                        <input type="number"  formControlName="ci"  id="ci" name="ci" placeholder="1231415">
                                    </div>
                                    <div class="field">
                                        <label for="number">Numero de pasaporte</label>
                                        <input type="number"  formControlName="passport"  id="number" name="number" placeholder="Numero">
                                    </div>
                                    <div class="field">
                                        <label for="email">Correo electronico</label>
                                        <input type="email" formControlName="email" id="email" name="email" placeholder="email">
                                    </div>
                                    <div class="field">
                                        <label for="telf">Numero de telefono</label>
                                        <input type="text"   formControlName="telf" id="telf" name="telf" placeholder="+591 77777777">
                                    </div>
                                    
        
                                </div>
                                <div class="cotizacion-footer">
                                    <input type="checkbox" formControlName="titular"    name="titular" id="titular" value="titular">
                                    <label for="titular">Titular</label>
                                </div>
                            </form>
                        
                        
                    </ng-container>
                    
                    
                </div>
            </div>
            <div *ngIf="datosCotizacionMayores.length>0" class="group-cotizacion">
                <span>Mayores de 75</span>
                <hr>

                <div class="list-cotizacion">
                    <ng-container *ngFor="let poliza of listPolizas" >
                        <form [formGroup]="poliza.form"*ngIf="poliza.type===2" class="cotizacion"  [class.active]="poliza.isOpen" >
                            <div class="cotizacion-header"(click)="openForm(poliza)"  >
                                <div class="data">
                                    <div class="data-poliza">
                                        <svg  *ngIf="!poliza.form.valid; else valid"  class="warning" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M92 936q-9 0-15.652-4.125Q69.696 927.75 66 921q-4.167-6.6-4.583-14.3Q61 899 66 891l388-670q5-8 11.5-11.5T480 206q8 0 14.5 3.5T506 221l388 670q5 8 4.583 15.7-.416 7.7-4.583 14.3-3.696 6.75-10.348 10.875Q877 936 868 936H92Zm392.175-117q12.825 0 21.325-8.675 8.5-8.676 8.5-21.5 0-12.825-8.675-21.325-8.676-8.5-21.5-8.5-12.825 0-21.325 8.675-8.5 8.676-8.5 21.5 0 12.825 8.675 21.325 8.676 8.5 21.5 8.5Zm0-111q12.825 0 21.325-8.625T514 678V514q0-12.75-8.675-21.375-8.676-8.625-21.5-8.625-12.825 0-21.325 8.625T454 514v164q0 12.75 8.675 21.375 8.676 8.625 21.5 8.625Z"/></svg>
                                        <ng-template #valid> 
                                            <svg    class="success" xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="m421 667-98-98q-9-9-22-9t-23 10q-9 9-9 22t9 22l122 123q9 9 21 9t21-9l239-239q10-10 10-23t-10-23q-10-9-23.5-8.5T635 453L421 667Zm59 309q-82 0-155-31.5t-127.5-86Q143 804 111.5 731T80 576q0-83 31.5-156t86-127Q252 239 325 207.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 82-31.5 155T763 858.5q-54 54.5-127 86T480 976Z"/></svg>

                                        </ng-template>
                                        <div class="data-cliente">
                                            <span>Poliza 1</span>
                                            <span class="detalle-poliza">Dato personales completos</span>
                                        </div>
                                        
                                    </div>
    
                                    <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 699q-6 0-11-2t-10-7L261 492q-8-8-7.5-21.5T262 449q10-10 21.5-8.5T304 450l176 176 176-176q8-8 21.5-9t21.5 9q10 8 8.5 21t-9.5 22L501 690q-5 5-10 7t-11 2Z"/></svg>
    
                                </div>
                            </div>
                            <div class="cotizacion-main">
    
                                <div class="field">
                                    <label for="nombre">Nombre(s)</label>
                                    <input type="text" formControlName="nombres" name="nombres" placeholder="Nombre(s)">
                                </div>
                                <div class="field">
                                    <label for="apellido">Apellido(s)</label>
                                    <input type="text"  formControlName="apellidos" id="apellidos" name="apellidos" placeholder="Apellido(s)">
                                </div>
                                <div class="field">
                                    <label for="age">Fecha de nacimiento</label>
                                    <input class="date-input" [max]="fechaLimite" formControlName="age"  type="date" name="age" id="age" value="" placeholder="00/00/0000">
                                </div>
                               
                                <div class="field">
                                    <label for="nombre">Nacionalidad</label>
                                    <div class="select"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Z"/></svg>
                                        <select name="origen" id="origen"  formControlName="origen"  >
                                            <option value="Bolivia">Bolivia</option>
                                            <option value="Argentina">Argentina</option>
                                            <option value="Brasil">Brasil</option>
                                            <option value="Chile">Chile</option>
                                            <option value="Colombia">Colombia</option>
                                            <option value="Ecuador">Ecuador</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="nombre">Genero</label>
                                    <div class="select"> 
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M784 936 532 684q-30 24-69 38t-83 14q-109 0-184.5-75.5T120 476q0-109 75.5-184.5T380 216q109 0 184.5 75.5T640 476q0 44-14 83t-38 69l252 252-56 56ZM380 656q75 0 127.5-52.5T560 476q0-75-52.5-127.5T380 296q-75 0-127.5 52.5T200 476q0 75 52.5 127.5T380 656Z"/></svg>
                                        <select name="gender" id="gender"  formControlName="gender"  >
                                            <option value="1">Masculino</option>
                                            <option value="2">Femenino</option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="number">Numero de Ci</label>
                                    <input type="number"  formControlName="ci"  id="ci" name="ci" placeholder="1231415">
                                </div>
                                <div class="field">
                                    <label for="number">Numero de pasaporte</label>
                                    <input type="number"  formControlName="passport"  id="number" name="number" placeholder="Numero">
                                </div>
                                <div class="field">
                                    <label for="email">Correo electronico</label>
                                    <input type="email" formControlName="email" id="email" name="email" placeholder="email">
                                </div>
                                <div class="field">
                                    <label for="telf">Numero de telefono</label>
                                    <input type="text"   formControlName="telf" id="telf" name="telf" placeholder="+591 77777777">
                                </div>
                                
    
                            </div>
                            <div class="cotizacion-footer">
                                <input type="checkbox" formControlName="titular"    name="titular" id="titular" value="titular">
                                <label for="titular">Titular</label>
                            </div>
                        </form>
                    
                    
                    </ng-container>
                    
                </div>
            </div>

            
            

        </div>
        <div class="carrito">

            <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
                <img  
                src="assets/svg/loading.svg" 
                alt=""
                >
                <span>Espere un momento, cargando la informacion</span>
            </div>
            


            <ng-container *ngIf="hasLoaded">

                <h2>Carrito</h2>
                <span>Cantidad de dias : {{diffDays}}</span>
                <div class="listado-carrito">
                    <span class="descuento">
                        Planes
                    </span>
                    <ng-container *ngIf="datosCotizacionMenores.length>0">
                        <div class="item-carrito">
                            <span class="descripcion">{{servicioMenores?.servicio}} * {{precioMenores.cantidadPolizas}} / {{costoMenores | number:'1.0-3'}}</span>
                            <span class="costo" >+{{precioMenores.precioTotal | currency:'USD':'$':'1.2-2' }}...</span>
        
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="datosCotizacionMayores.length>0">
                        <div class="item-carrito">
                            <span class="descripcion">{{servicioMayores?.servicio}} * {{precioMayores.cantidadPolizas}} / {{costoMayores | number:'1.0-3'}}</span>
                            <span class="costo" >+{{precioMayores.precioTotal | currency:'USD':'$':'1.2-2' }}...</span>
        
                        </div>
                    </ng-container>
    
                    <hr>
                    <span class="descuento" *ngIf="listExtras.length>0">
                        Extras
                    </span>
    
                    <ng-container *ngFor="let extra of dataExtra">
                        <div class="item-carrito">
                            <span class="descripcion">{{extra.extra.descripcion}}*Dias: {{diffDays}} * Costo: {{extra.costo}} * Cantidad: {{extra.cantidad}} </span>
                            <span class="costo" >+{{extra.costoTotal| currency:'USD':'$':'1.2-2' }}</span>
        
                        </div>
                        <hr>
                    
                    </ng-container>
                    
                    <span class="descuento" *ngIf="listDescuentos.length>0">
                        Descuentos
                    </span>
                    <ng-container *ngFor="let descuento of listDescuentos">
                        <div class="item-carrito">
                            <span class="descripcion">{{descuento.cupon.cupon_id}} * {{descuento.monto}} </span>
                            <span class="costo" >-{{descuento.montoTotal | currency:'USD':'$':'1.2-2' }}</span>
        
                        </div>
                        <hr>
                    
                    </ng-container>
                    
                </div>
                
                <div class="total">
                    <span>Total</span>
                    <p>${{totalEnteros}}<span class="decimal">{{totalDecimales}}</span> <span class="type-money">USD</span></p>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="footer-polizas">
        <button  (click)="backPrev()" class="btn_volver"   >
            <svg xmlns="http://www.w3.org/2000/svg" height="48" viewBox="0 96 960 960" width="48"><path d="M480 896 160 576l320-320 42 42-248 248h526v60H274l248 248-42 42Z"/></svg>
            Volver
        </button>
        <button  class="btn_guardar"  (click)="comprobarDatos()">

            Comprobar
        </button>
    </div>

    <div class="cotizacionBottom z-index-25"  [style.height.px]="itemHeight" >
        <div class="expandir"  *ngIf="stateBottom!=3" 
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd($event)"
        (click)="expand()"
        
        >
         <button class="btn_expandir">
             <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M280 976q-33 0-56.5-23.5T200 896q0-33 23.5-56.5T280 816q33 0 56.5 23.5T360 896q0 33-23.5 56.5T280 976Zm400 0q-33 0-56.5-23.5T600 896q0-33 23.5-56.5T680 816q33 0 56.5 23.5T760 896q0 33-23.5 56.5T680 976ZM246 336l96 200h280l110-200H246Zm-38-80h590q23 0 35 20.5t1 41.5L692 574q-11 20-29.5 31T622 616H324l-44 80h480v80H280q-45 0-68-39.5t-2-78.5l54-98-144-304H40v-80h130l38 80Zm134 280h280-280Z"/></svg>
             <p  > <span></span>  Ver mi carrito</p> 
             <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path d="M480 711 240 471l56-56 184 184 184-184 56 56-240 240Z"/></svg>
         </button>
         
        </div>
      
        <div class="containBottom"  *ngIf="!minHeightReached"  >
        
            <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
                <img  
                src="assets/svg/loading.svg" 
                alt=""
                >
                <span>Espere un momento, cargando la informacion</span>
            </div>
            <ng-container *ngIf="hasLoaded">

                <h2>Carrito</h2>
                <span>Cantidad de dias : {{diffDays}}</span>
                <div class="listado-carrito">
                    <span class="descuento">
                        Planes
                    </span>
                    <ng-container *ngIf="datosCotizacionMenores.length>0">
                        <div class="item-carrito">
                            <span class="descripcion">{{servicioMenores?.servicio}} * {{precioMenores.cantidadPolizas}} / {{costoMenores | number:'1.0-3'}}</span>
                            <span class="costo" >+{{precioMenores.precioTotal | number:'1.0-3'}}...</span>
        
                        </div>
                    </ng-container>
                    
                    <ng-container *ngIf="datosCotizacionMayores.length>0">
                        <div class="item-carrito">
                            <span class="descripcion">{{servicioMayores?.servicio}} * {{precioMayores.cantidadPolizas}} / {{costoMayores | number:'1.0-3'}}</span>
                            <span class="costo" >+{{precioMayores.precioTotal | number:'1.0-3'}}...</span>
        
                        </div>
                    </ng-container>
    
                    <hr>
                    <span class="descuento" *ngIf="listExtras.length>0">
                        Extras
                    </span>
    
                    <ng-container *ngFor="let extra of dataExtra">
                        <div class="item-carrito">
                            <span class="descripcion">{{extra.extra.descripcion}}*Dias: {{diffDays}} * Costo: {{extra.costo}} * Cantidad: {{extra.cantidad}} </span>
                            <span class="costo" >+{{extra.costoTotal| number:'1.0-3'}}</span>
        
                        </div>
                        <hr>
                    
                    </ng-container>
                    
                    <span class="descuento" *ngIf="listDescuentos.length>0">
                        Descuentos
                    </span>
                    <ng-container *ngFor="let descuento of listDescuentos">
                        <div class="item-carrito">
                            <span class="descripcion">{{descuento.cupon.cupon_id}} * {{descuento.monto}} </span>
                            <span class="costo" >-{{descuento.montoTotal | number:'1.0-3'}}</span>
        
                        </div>
                        <hr>
                    
                    </ng-container>
                    
                </div>
                
                <div class="total">
                    <span>Total</span>
                    <p>${{totalEnteros}}<span class="decimal">{{totalDecimales}}</span> <span class="type-money">USD</span></p>
                </div>
            </ng-container>
        </div>


        <div class="contain-pagar">
            
            <button (click)="backPrev()">
                Prev
            </button>
            <button class="active"   (click)="comprobarDatos()">
                Generar Polizas
            </button>


        </div>
        
        <div class="BottomFooter">
         <button  type="button" (click)="salir()">
             <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"><path d="M6.062 15 5 13.938 8.938 10 5 6.062 6.062 5 10 8.938 13.938 5 15 6.062 11.062 10 15 13.938 13.938 15 10 11.062Z"/></svg>
             Salir
         </button>
 
        </div>
    

</div>