::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }




.container{
    width: 100vw;
    min-width: 100%;
    height: 90vh;
    background-color: var(--body-bg);
    display: block;
    box-sizing: border-box;
    
    
}




.main-polizas{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    min-width: 100%;
    background: var(--body-bg);
    height: 75vh;
    /* padding-left: 2vh; */
    /* padding-right: 2vh; */
    transition: all 0.5s ease;
    overflow-y: auto;
    
}


.cotizaciones{
    padding: 10px;
    width: 100%;
    min-width: 100%;
    background-color : #EFF4F5;
    padding-top: 50px;
    padding-left: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cotizaciones h2 { 
    font-size: 35px;
    color: var(--main-color);
    
    /*make bold*/
    font-weight: bold;

}

.carrito { 
    padding:50px;
    border: 1px solid #DADFE0;


}

.carrito h2{
    font-size: 25px;
    color: var(--main-color);
    
    margin-bottom: 10px;
    /*make bold*/
    font-weight: bold;

}

.listado-carrito{
    padding-top: 40px;
}

.item-carrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.listado-carrito span{
    color: var(--main-color);
    padding-top: 10px;
}

.item-carrito .costo{
  margin-left: 50px;
}

.listado-carrito hr{
    border: 1px solid #DADFE0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrito .total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
}


span.descuento,
.total span { 
    font-size: 17px;
    font-weight: bold;
    padding-left: 2px;
}

.total p{
    font-size: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.total p span{
    font-size: 9px;
    font-weight: bold;
}



.footer-polizas{

    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

}




.cotizacionBottom{
    display: none;
    
    background-color: var(--body-bg);
    overflow: hidden;
    
    width: 100%;
   
    position: fixed;
    bottom: 0;
    align-items: center ;
    flex-direction: column;
    
   
    
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    color: wheat;
    padding: 20px;

   
    
}

.cotizacionBottom .BottomFooter{
    position: absolute;
    bottom: 10px;
    
    
    margin-right: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    z-index: 5;
}

.cotizacionBottom .BottomFooter button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-bg);
    border: none;
    fill: var(--main-color);
    color: var(--main-color);
    font-size: 12px;

}

.expandir{
    height: fit-content;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -10px;
  
    width: 100vw;
  
  }
  
  
  .expandir .btn_expandir{
      
      display: flex;
      justify-content: center;
      width: 100%;
      flex-direction: row;
      align-items: center;
      border: none;
      background: none;
      margin-top: -10px;
      color: var(--main-color);
      font-size: 15px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
      
  }

  
.contain-pagar{
    display: flex;
    width: 100%;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .contain-pagar button{
    padding: 5px;
    width: 70%;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: var(--body-bg);
    color: var(--main-color);
    margin-left: 20px;
    
  }
  
  .contain-pagar button.active{
    
    background-color: var(--main-color);
    color: white;
    border: none;
  }
  
  .containBottom{
      overflow: auto;
      height: fit-content;
      display: flex;
      flex-direction: column;
      width: 100%;
      color: var(--main-color);
}
  
  .expandir .btn_expandir svg{
      
      fill: var(--main-color);
      
  }

  .group-cotizacion{
    padding-top: 20px;
  }

  .group-cotizacion span{
    font-size: 20px;
    color: var(--main-color);
    font-weight: bold;
  }

  .group-cotizacion hr{
    border: 1px solid var(--main-color);
    margin-top: 20px;
    margin-right: 150px;
    margin-bottom: 20px;
  }

  .list-cotizacion{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 100px;

  }


  .cotizacion{
    height: fit-content;
    width: 400px;
    background-color: var(--body-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.5s all  ease-in-out;

  }

  .cotizacion:hover{
    box-shadow: 0px 0px 5px 0px  #DADFE0;
    scale: 1.05;
    transition: 0.5 all ease-in-out;
  }

  .cotizacion .cotizacion-main{
    display: none;
    transition: 0.5s all  ease-in-out;
  }


  .cotizacion-header{
    width: 100%;
    padding: 18px 0px 12px 12px;
    box-shadow: 0px 0px 5px 0px  #DADFE0;
    cursor: pointer;
  }
  
  

  .cotizacion-header .data{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
   .data .data-poliza{
    display: flex;
    align-items:center;
    justify-content: space-between;
   }
   .data-poliza .data-cliente{
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
   }


   .data-cliente .detalle-poliza{
    font-size: 10px;
   }



    .cotizacion.active .cotizacion-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    box-shadow: 0px 0px 5px 0px  #DADFE0;
    transition: 0.5s all  ease-in-out;
   }


   .cotizacion-main .field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px 20px 20px 40px;
    width: 100%;
    height: 70px;
   }

   .field label { 
    font-size: 18px;
    color: var(--main-color);
    font-weight: bold;
    padding-bottom: 10px;
   }

   .field input { 
    width: 100%;
    height: 30px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 5px;
    font-size: 18px;
   }

   .field .select{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
   }
   .field .select select{
    margin-top: 5px;
    width: 100%;
    height: 30px;
    background: none;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-left: -25px;
   }
   .field .select svg{
    position: relative;
    left: 5px;
    top: 8px;
    fill: var(--main-color);
   }

   .field .date-input{
    padding: 14px;
   }

  


  svg.success{
    fill: #16F80B ;
    width: 40px;
    height: 40px;
  }

  svg.warning{
    fill:#DADFE0;
    width: 40px;
    height: 40px;
  }

  .cotizacion .cotizacion-footer{
    display: none;
    transition: 0.5s all  ease-in-out;
  }

  .cotizacion.active .cotizacion-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 0px 10px 30px;
    transition: 0.5s all  ease-in-out;
  }
  .cotizacion-footer label{
    padding-left: 5px;
  }

  .btn_volver{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: white;
    background-color: var(--main-color);
    color: var(--body-bg);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all  ease-in-out;
  }

  .btn_guardar{
    padding: 10px;
    background-color: var(--main-color);
    color: var(--body-bg);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s all  ease-in-out;
  }

  .btn_volver:hover{
    scale: 1.2;
  }

  .btn_guardar:hover{
    scale: 1.05;
  }


  .loading {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .loading img {
    width: 60px;
    height: 60px;
  }
  
  



@media only screen and (max-width: 768px) {
    .main-polizas {
      grid-template-columns: 1fr;
      height: calc(100vh - 225px);
      justify-content: center;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      position: fixed;
      overflow-y: auto;
      
    }

    .carrito,
    .footer-polizas{
        display: none;
    }

    .cotizacionBottom{
        display: flex;
    }

    .cotizaciones{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .list-cotizacion{
        padding-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cotizacion{
        width: 75%

    }

    .cotizacion-main .field{
      margin: 10px 10px 0 0;
      font-size: 12px;
    }

    .cotizacion-main .field label,
    .cotizacion-main .field input{
      font-size: 12px;
    }

    .loading {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    

    
  }


