@keyframes displayBackground {

  0% {
    background-color: rgba(0, 0, 0, 0.1);

  }
  100% {
    background-color: rgba(0, 0, 0, 0.4);

  }
}



.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 24;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: displayBackground;
      animation-duration: 1s;
      animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
      animation-iteration-count: 1;
}

hr{
  margin: 0px 0px;
  width: 100%;
  height: 0.25px;
  background-color: #dedddc;
  border: none;

}

h2{
  color: var(--main-color);
}

@keyframes expandModal {

  0% {
    left: 0;
  }
  100% {
    left: 15%;
  }
}





.modal {
  visibility: visible;
  z-index: 25;
  position: absolute;
  width: 75%;
  top: 10%;
  left: 15%;


  height: 75%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;

}

.top{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 35px;
}

.btn_download{
  margin-top: 20px;
  background-color: var(--main-color);
  color: white;
  border : 1px solid var(--main-color);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.btn_close{
  position: absolute;
  top: 2px;
  right: 5px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn_close:hover{
  scale: 1.5;
  transition: all 0.5s ease-in-out;
}


.data{
  display: grid;
  width: 100%;
  height: calc(100% - 35px);
  grid-template-columns: 2fr 1fr;
  padding: 10px 0px;

}



.left,
.right{
  padding: 0 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.right::-webkit-scrollbar,
.left::-webkit-scrollbar {
  width: 0.6em;
  height: 1em;
}


.right::-webkit-scrollbar-track,
.left::-webkit-scrollbar-track {
  background: #efedf7;;
  border-radius: 100vw;
  margin-block: 0.1em;
}

.right::-webkit-scrollbar-thumb,
.left::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 20px;
}

.right::-webkit-scrollbar-thumb:hover,
.left::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
  border-radius: 20px;
}





@media (min-width: 768px) {
  .modal{
    animation-name: expandModal;
      animation-duration: 1s;
      animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
      animation-iteration-count: 1;
  }

}

@media (max-width: 768px){
  .modal-backdrop{
    height: 90vh;
  }

  @keyframes showModalMobile {

    0% {
      top :90%
    }
    100% {
      top : 0%;
    }
  }
  .modal{
    width: 100%;
    height: 90vh;
    top: 0;
    left: 0;
    border-radius: 0;

    animation-name: showModalMobile;
      animation-duration: 0.5s;
      animation-timing-function:cubic-bezier(0.19, 1, 0.22, 1);
      animation-iteration-count: 1;
  }

  .top{
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .data {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(100% - 35px);
    overflow-y: auto;

  }

  .left,
  .right{
    padding: 0;
    height: fit-content;
    overflow-y: initial;
  }

}

.list-beneficiarios{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.list-polizas{
  position: absolute;
  left: -700%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: auto;
  top: 0;
  width: 100%;
  height: 100vh;
}

.design-poliza{
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.listPolizasToPdf{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

beneficiario-pdf{
  margin: 10px 0px;
  width: 100%;
}

