<div class="container">
    <div class="process">
        <div class="data">
            <h2>Nuevo Cupon de descuento</h2>
            <hr >
            <div class="attributes">
                
                <div class="field">
                    <label>Desde</label>
                    <input [(ngModel)]="initialDate" (change)="onChangeForm()"  [min]="minDate" type="date">
                </div>
                <div class="field">
                    <label>Hasta</label>
                    <input [(ngModel)]="finalDate"  (change)="onChangeForm()"  [min]="minDate" type="date">
                </div>
                <div class="field"> 
                    <label>Tipo de descuento</label>
                    <div class="option-checkbox">
                      <input type="checkbox"  [(ngModel)]="checkbox1Value" value="checkbox1Value"  (change)="onCheckboxChange(1)">
                      <span>Porcentual</span>
                    </div>
                    <div class="option-checkbox">
                      <input type="checkbox"  [(ngModel)]="checkbox2Value" value="checkbox2Value" (change)="onCheckboxChange(2)">
                      <span>Monto</span>
                    </div>

                  </div>
                <div class="field">
                    <label>Monto</label>
                    <input type="number" (change)="onChangeForm()"   [(ngModel)]="monto" placeholder="10000">

                </div>

            </div>
            <div class="servicios-data">
              <div class="information-container" *ngIf="hasLoaded">
                <app-popup [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" [message]="'Puedes seleccionar multiples planes'" [duration]="3000" ></app-popup>
              </div>
                <div class="table-container">
                  <div class="table-data" [class.info]="hasLoaded">
                    <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
                      <img  
                      src="assets/svg/loading.svg" 
                      alt=""
                      >
                      <span>Espere un momento, cargando la informacion</span>
                    </div>
                    
                      <table [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" >
                        <thead>
                          <tr>
                            <th class="f-start">Nombre</th>
                            <th>costo</th>
                            <th>cobertura</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let servicio of listado_servicios">
                            <td  (click)="selectItem(servicio)"  class="f-start">
                              <input class="checkbox"  [checked]="servicio.selectedItem" type="checkbox">
                              <span>{{servicio.servicio.servicio}}</span>
                            </td>
                            <td>{{servicio.servicio.precio_base | currency:'USD':'$':'1.2-2' }}</td>
                            <td>{{servicio.servicio.cobertura_global | currency:'USD':'$':'1.2-2' }}</td>
                          </tr>
                        </tbody>
                      </table>
            
                    </div>
                    <div class="table-selector">
                      <div class="pagination">
                          <button class=" btn active">
                            <span>1</span>
                          </button>
                          <button class="btn">
                            <span>2</span>
                          </button>
                        <div class="btn">
                             Siguiente
                        </div>
            
                      </div>
                    </div>
                  </div>
            </div>

        </div>

        
        



    </div>
    <div class="actions">
        <h2>Acciones</h2>
        <hr>
  
        <div class="buttons">
          <button  [class.active]="isReady"  (click)="createCupon()"   class="emitir ">
            Crear nueva cupon
          </button>
          
          <button (click)="cancel()"   class="cancelar" >
            Cancelar
          </button>
        </div>     

        <hr>




    </div>
</div>