.grid-container {
    margin-top: 10vh;
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 3fr;
    overflow-y: hidden;
  }
  
  .sidenav {
    grid-column: 1 / 2;
    padding: 20px;
  }

  .listLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    list-style: none;
    padding: 30px;
    margin-top: 50px;
  }

  .listLinks hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .link{
    color: var(--main-color);
    text-decoration: none;
    margin-top: 20px;
  }
  .link a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    fill: var(--main-color);
    text-decoration: none;
    font-size: 20px;
  }
  a span{
    margin-left: 10px;
    font-size: 12px;
  }

 

  
  .content {
    grid-column: 2 / 3;
    padding: 10px;
    overflow-y: hidden;

  }
  
  /* Responsive layout for smaller screens */
  @media screen and (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr;
      margin-top: 0px;
    }
    
    .sidenav {
      grid-column: auto;
      height: fit-content;
      margin-top: 0px;
      justify-content: space-between;
    }

    .listLinks{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 30px;
        margin-top: 20px;
      }
    
    
    .content{
      grid-column: auto;
    }
    hr{
      display: none;
    }
    svg{
      display: none;
    }
  }