
.grid-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: fit-content;
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0px;
  scroll-behavior: smooth;
  font-style: 'Lato',san-serif;
}

.container-about-us{
  display: flex;
  height: 50vh;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 20px;
  scroll-behavior: smooth;

}

.container-about-us .information{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 10px;
  border-radius: 20px 0px 0px 20px;
}

.container-about-us .information h2 { 
  font-size: 30px;
  font-weight: 600;
  color: var(--main-color);
  margin: 0px;
  padding: 0px;
}

.container-about-us .information p{
  font-size: 20px;
  font-weight: 400;
  color: var(--main-color);
  margin: 0px;
  padding: 0px;
}

.image-container{

  width: 100%;
  height: 100%;
  display: flex;
}

.image-container .image{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;

}

.cotizar_btn { 
  display: flex;
  
  flex-direction: row;
  fill: #fff;
  color: #fff;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #1D0F9F, #DF085A);
  height: 40px;
  
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 5px 20px 5px 20px ;
  text-align: center;
  text-decoration: none;
  border: none;
  
  margin-top: 10px;
  width: fit-content;
  border-radius: 8px;
}

.cotizar_btn:hover{ 
  scale: 1.05;
 }

 .container-about{
  display: flex;
  padding: 20px;
  background-color: var(--body-bg);
  scroll-behavior: smooth;

 }

  .grid-container .grid-item-2 {
    width: 100%;
    padding-right: 0px;
    min-height: 85vh;
    
    
  }

  .grid-container .grid-item-3{
    width: 100%;
    padding-left: 0px;
    
  }

  .parallax-container {
    background-image: none;
    position: relative;
    height: 100%;
    overflow: hidden;
    transition: 0.5 all ease-in-out;
    border-radius: 0 10px 10px 0;

  }
  
  .parallax-image {
    width: 100%;
    height: 100%;
  }

  .parallax-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  

  .parallax-image {
    transform: translate3d(0, 0, 0);
    will-change: transform;
  }
  
  .parallax-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  
.descriptionContainer{
  background-color: var(--main-color);  
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: bold;
  height: 100%;
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  scroll-behavior: smooth;


}

.descriptionContainer .description{
  padding: 0px 30px 0px 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.description h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.description p { 
  font-size:  30px;
}

.container-slider{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: var(--body-bg);
  border-radius: 10px 0px 0px 10px;
}

.wrapper {
  padding: 20px;
  display: flex;
  width: 100%;
  height: fit-content;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 12px;
}

.list-position{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.position{
  height: 5px;
  width: 50px;
  background: var(--main-color);
  margin: 0px 20px 20px 10px;
  border-radius: 50px;
}

.position.active{
  background : #DF085A;
}

.wrapper .container { 
  height: 50vh;
  overflow: hidden;
}

.container.slider{
  width: 60%;
  border-radius: 18px 0px 0px 18px;

}

.container.information { 
  background-color: var(--main-color);
  border-radius: 0px 18px 18px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding-right: 40px;
  color: white;

}

.container.information .information{
  font-size: 35px;
  font-weight: bold;
  padding: 0px 20px 0px 20px;
}

.wrapper svg.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}

svg.button:active {
  transform: scale(0.94) translateY(-50%);
}

svg#prev {
  left: 25px;
  padding-left: 10px;
}

svg#next {
  right: 25px;
}

@keyframes slide-in {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(-25%);
  }
}

.container .image-container {
  height: 100%;
  width: 400%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  border-radius: 18px 0px 0px 18px;
  transform: translateX(-25%);
  transition: all 0.4s ease;
  animation: slide-in 0.4s ease;
}

.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}

.carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container-procedimiento{
  display: flex;
  width: 100%;
  height: 50vh;
  padding: 10px 20px 10px 20px;
  flex-direction: row;
  
}

.container-procedimiento .container { 
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.container .title{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.container .lista-procedimiento{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  height: 50vh;
  border-radius: 20px;
}

.lista-procedimiento .procedimiento{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: var(--main-color);
  padding: 20px 20px 20px 20px

}

.lista-procedimiento .procedimiento .title h3{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.lista-procedimiento .procedimiento .description p{
  font-size: 15px;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px 0px;
}

.container-ayuda{
  width: 100%;
  height: fit-content;
  padding: 20px;
}

.container-ayuda .container {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;


}

.container .information-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.container .information-list .title{
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.container .information-list h3{
  font-size: 25px;
  font-weight: bold;
  text-align: start;
  color: var(--main-color);
  padding: 0px 0px 20px 0px;
}

.container .information hr{
  width: 100%;
  height: 1px;
  background-color: var(--main-color);
  border: none;
  margin: 20px
}

.container .information-list .information{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: 0px 20px 0px 20px;
}

.container .information-list .information .title{
  display: flex;
  flex-direction: row;
  fill: var(--main-color);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0px 0px 20px 20px;
  color: var(--main-color);
  cursor: pointer;
}

.container .information-list .information .description{
  align-items: flex-start;
  justify-content: flex-start;
}

.container .information-list .information .description p{
  font-size: 15px;
  color: var(--main-color);
  font-weight: bold;
  text-align: start;
  padding: 0px 0px 20px 0px;
}

.container .image{
  display: flex;
  width: 100%;
  border-radius: 20px;
}

.container .image img{
  width: 100%;
  height: 100%;
  border-radius: 0px 20px 20px 0px;
  object-fit: cover;
}

.footer{
  height: 30vh;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer .top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer .bottom{
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: white;
}

.list .logo { 
  text-decoration: none;
  color: white;
}

.top .list { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.list .title { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 0px 20px 0px 0px;
}

.list .routes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.routes a{
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
  transition: 0.5s all ease-in-out;
}

.routes a svg{
  fill: white;
  width: 20px;
  height: 20px;
  transition: 0.5s all ease-in-out;
}

.routes a:hover {
  scale: 1.1;
  transition: 0.5s all ease-in-out;
}

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* switch to one column layout for small screens */
      padding-top: 0px;
    }

    .grid-container .grid-item-2{
      padding: 0px 30px 0px 30px;
      min-height: fit-content;
    }

    .grid-container .grid-item-3{
      padding: 0px 30px 30px 30px;
    }

    .descriptionContainer{
      position: relative;
      height: 50vh; /* establece una altura en 100vh */
      overflow: hidden;
      transition: 0.5 all ease-in-out;
      border-radius: 10px 10px 0 0;
    }

    .description h2 {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
    }
    
    .description p { 
      font-size:  20px;
    }

    .parallax-container {
      position: relative;
      height: 50vh; /* establece una altura en 100vh */
      overflow: hidden;
      transition: 0.5 all ease-in-out;
      border-radius: 0px 0px 10px 10px;
    }

    .controls .arrow{
      position: absolute;
      top: 250%;
      cursor: pointer;
    }

    .container.slider{
      width: 100%;
      border-radius: 18px 18px 18px 18px;
    }
    
    .container.information{
      background: none;
      position: absolute;
      border-radius: 18px 18px 18px 18px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0px;
  }

    .container.information .information{
      background-color: rgba(52, 24, 154, 0.7);
      margin: 10px 20px 10px 20px;
      width: 100%;
      height: 100%;
      border-radius: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 60px 10px 50px;
      font-size: 20px;
      font-weight: bold;
    }

    .container-about-us{
      flex-direction: column;
      height: fit-content;
      padding: 0px;
    }

    .container-about-us .information{
      width: 100%;
    }
    
    .container-about-us .image-container{
      height: 50vh;
    }
    
    .container-procedimiento{
      height: fit-content;
    }

    .container-about-us .image-container .image{
      border-radius: 20px;
    }

    .container .lista-procedimiento{
      flex-direction: column;
      height: fit-content;
    }

    .lista-procedimiento .procedimiento{
      flex-direction: column;
    }
    
    .container-ayuda .container{
      flex-direction: column;
      height: fit-content;
    }

    .container .image img{
      border-radius: 20px;
    }

    .footer { 
      height: fit-content;
    }

    .footer .top { 
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      color: white;
      font-size: 10px;
    }
    
    .top .list { 
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      color: white;
      font-size: 10px;
      margin-bottom: 20px;
    }

    .list .title{
      font-size: 15px;
      font-weight: bold;
      padding: 0px 0px 0px 0px;
      align-items: flex-start;
    }

    .list .routes {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      color: white;
      font-size: 5px;
      flex-wrap: wrap;
      gap: 2px;
    }
    
    .routes a{
      color: white;
      text-decoration: none;
      font-size: 10px;
      font-weight: bold;
      padding: 10px 10px 0px 10px;
    }

    .routes a svg{
      fill: white;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      color: white;
      font-size: 10px;
    }

    .bottom span { 
      font-size: 10px;
      font-weight: bold;
      padding: 0px 0px 0px 10px;
    }
}


