
                <header>Fechas y Destinos</header>
                        <form   (ngSubmit)="agregar($event)">
                            
                                <div class="details personal">
                                    <span class="title">Las fechas del viaje</span>
                
                                    <div class="fields">
                                        <div class="input-field">
                                            <label  for="fechaSalida" >Fecha de salida</label>
                                            <input type="date" placeholder="Ingresar la fecha de salida" id="fechaSalida"  [(ngModel)]="formData.initialDate" name="initialDate"  (change)="comparar()" >
     
                                        </div>
                
                                        <div class="input-field">
                                            <label for="fechaLlegada">Fecha de llegada</label>
                                            <input type="date" placeholder="Ingresar la fecha de llegada" id="fechaLlegada" [(ngModel)]="formData.finalDate" name="finalDate"  (change)="comparar()">
                                        </div>
                                        
    
    
                                        <div *ngIf="diffDays>=0; else noMessage">
                                            <span>La cantidad de dias es: {{diffDays}} </span>
                                        </div>
    
                                        <ng-template  #noMessage>
                                            <p>La primera fecha no debe de ser mayor a la segunda</p>
                                        </ng-template>
                                          
                                        
                
                                        
                                    </div>
                                    
                                   
    
                                        <div class="wrapper">
                                            <div class="title">
                                                
                                                <h2>Destinos</h2>
                                            </div>
                                            <div class="content">
                                                <p>Se puede agregar mas de 1 destino </p>
                                                <ul class="tagList">
                                                <li *ngFor="let tag of tags"  >
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"  (click)="remove(tag)" ><path d="M6.062 15 5 13.938 8.938 10 5 6.062 6.062 5 10 8.938 13.938 5 15 6.062 11.062 10 15 13.938 13.938 15 10 11.062Z"/></svg>
                                                    {{tag}} 
                                                </li>
                                                </ul>
                                            </div>
                                        
                                            <div class="options" >
                                                <select class="listado"  [(ngModel)]="formData.inputValue" name="finalDate" (change)="onSelect($event)" >
                                                    <option value="pais">Seleccione un destino</option>
                                                    <option value="America">America</option>
                                                    <option value="Europa">Europa</option>
                                                    <option value="Asia">Asia</option>
                                                    <option value="Oceania">Oceania</option>
                                                    <option value="Africa">Africa</option>
                                                    <option value="Antartida">Antartida</option>
                                                    <option  *ngFor="let pais of countries"   value={{pais.etiqueta}} > {{pais.etiqueta}}  </option>
                                                    
                                                    
                                                </select>
                                                
                                            </div>
                                        </div>
                                    
                                </div>
                                
                                <div class="buttonSpace">
                                    <button type="submit" class="nextBtn">
                                        <span class="btnText">Siguiente</span>
                                    </button>
                                </div>
                                
                            
                            
                          <!-- <button type="submit">Guardar</button> -->
                        </form>