
<div class="container">
  <h2>Siniestros</h2>
  <hr>
      <input type="text" placeholder="Buscar por numero de poliza, pasaporte o nombre del cliente">
      <div class="table-container">
        <div class="table-data">
          <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
            <img
            src="assets/svg/loading.svg"
            alt=""
            >
            <span>Espere un momento, cargando la informacion</span>
          </div>
          <table [@loadingAnimation]="hasLoaded ? 'show' : 'hide'">
            <thead>
              <tr>

                <th>Beneficiario</th>
                <th>Ciudad</th>
                <th>Pais</th>
                <th>fecha</th>
                <th>tipo de asistencia</th>
                <th>archivo</th>
                <th>estado</th>
                <th style="padding: 0px 60px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let siniestro of siniestros">
                <td style="color: var(--main-color); cursor: pointer; text-decoration: none;">
                  <a [routerLink]="['../../polizas', siniestro.beneficiario.poliza_id]" >
                    <span style="margin-right: 2px;" *ngIf="siniestro.beneficiario.primer_nombre">{{siniestro.beneficiario.primer_nombre | zeroFilter}}</span>
                    <span style="margin-right: 2px;" *ngIf="siniestro.beneficiario.segundo_nombre">{{siniestro.beneficiario.segundo_nombre | zeroFilter }}</span>
                    <span style="margin-right: 2px;" *ngIf="siniestro.beneficiario.primer_apellido">{{siniestro.beneficiario.primer_apellido | zeroFilter}}</span>
                    <span style="margin-right: 2px;" *ngIf="siniestro.beneficiario.segundo_apellido">{{siniestro.beneficiario.segundo_apellido | zeroFilter}}</span>
                  </a>
                </td>
                <td>{{siniestro.siniestro.ciudad_ocurrencia | zeroToMessage }} </td>
                <td>{{siniestro.siniestro.pais_ocurrencia | zeroToMessage }}  </td>
                <td>{{siniestro.siniestro.fecha_siniestro  | dateOnly}}</td>
                <td>{{siniestro.tipoBeneficio.etiqueta}}</td>
                <td>{{siniestro.siniestro.url_archivo | zeroToMessage }}</td>
                <td>{{"Vigente" }}  </td>
                <td style="color: var(--main-color); cursor: pointer; text-decoration: none;" >
                  <a [routerLink]="['../',siniestro.siniestro.siniestro_id]"  >Ver detalles</a>
                </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>
</div>
