

.container_form{
    
    
    width: 90%;
    background: var(--body-bg);
    
  }
  header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
  }
  header::before{
    content: "";
    
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
  }
  form{
    
    margin-top: 16px;
   
    background-color: var(--body-bg);
    
  }
   form .form{
   
    background-color: var( --body-bg);
    transition: 0.3s ease;
  }
  
  form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    
  }
  
  
  form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
   form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--text-color);
  }
   form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
  }
  .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
  }
  .input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
  }
  .input-field input :focus,
  .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  }
  .input-field select,
  .input-field input[type="date"]{
    color: #707070;
  }
  .input-field input[type="date"]:valid{
    color: var(--text-color);
  }
   form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    max-width: 200px;
    width: 150px;
    border: none;
    outline: none;
    color: var(--main-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: var(--body-bg);
    transition: all 0.3s linear;
    cursor: pointer;
    border: 2px solid var(--main-color);
  }
   form .btnText{
    font-size: 14px;
    font-weight: 400;
  }
  
  
  @media (max-width: 750px) {
     form{
        overflow-y: scroll;
    }
     form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
  
    
    
  }
  
  @media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
  
    
  }
  
  
  ::selection{
    color: var(--text-color);
    background: var(--logo-color);
  }
  .wrapper{
    width: 100%;
    background: var(--body-bg);
    border-radius: 10px;
    padding: 18px 25px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
  }
  .wrapper :where(.title, li, li i, .details){
    display: flex;
    align-items: center;
  }
  .title img{
    max-width: 21px;
  }
  .title h2{
    font-size: 21px;
    font-weight: 600;
    margin-left: 8px;
  }
  .wrapper .content{
    margin: 10px 0;
  }
  .content p{
    font-size: 15px;
  }
  .content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
  }
  .content ul  li{
    color: var(--main-color);
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background-color: var(--body-bg);
    padding: 5px 8px 5px 10px;
    border: 1px solid var(--main-color);
  }
  .content ul li svg{
    height: 20px;
    width: 20px;
    fill: var(--main-color);
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    
    justify-content: center;
  }
  .content ul input{
    flex: 1;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: var(--body-bg);
  }
  .options { 
    width: 100%;
  }
  .options .listado{
    width: 50%;
    color: black;  
  }
  
  
  
  option { 
    color: black;
  }
  
  .buttonSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  @media (max-width: 750px){
    .options .listado{
        width: 100%;
         
      }
  }
  
  
  .nextBtn:hover,
  .nextBtn:focus{
    
    background-color: var(--main-color);
  
    color: white;
    cursor: pointer;
    border: 2px solid var(--main-color);
  }
  

  form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: var(--text-color);
}
form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 2 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: var(--text-color);
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: var(--text-color);
}


form .buttonSpace button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    width: 140px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: var(--logo-color);
    transition: all 0.3s linear;
    cursor: pointer;
}



.listPolicies { 
    width: 100%;
    height: 100%;
}

.listPolicies  .contentBx{
    
    margin-top: 10px ;
    border: 1px solid var(--text-color);

}

.headerPolicie{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  cursor: pointer;
  
}






.listPolicies .contentBx .label{
    position:  relative;
    padding: 5px;
    
   
    
    cursor: pointer;
}






.listPolicies  .contentBx .content { 
    position: relative;
    
    background: var(--body-bg);
    height: 0;
    overflow: hidden;
    
    overflow-y: auto;

}


.listPolicies .contentBx.active .content
{   box-sizing: border-box;
    height: 100%;
    padding:  10px;
    justify-content: center;
}

.policyForm{
  height: 100%;
  align-items: center;
  width: fit-content;
}


.policyForm .fields .input-field{
  width: calc(100% / 2 - 5px);
}


@media (max-width: 550px) {
  .policyForm .fields .input-field{
      width: 100%;
  }

  
}

@media (max-width: 750px){
    form{
        overflow-y: scroll;
    }

    form::-webkit-scrollbar{
        display: none;
     }
     form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }

    
}

.buttonSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 750px){
    .options .listado{
        width: 100%;
         
      }
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
}

form button.addItem{
    
    fill: var(--logo-color);
    font-size: medium;
    color: var(--logo-color);
    border: none;
    margin: 10px;
    padding: 10px;
    background-color: var(--body-bg);
    transition: all 0.3s linear;
    cursor: pointer;
}

form .buttonSpace button { 
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background-color: var(--body-bg);

    transition: all 0.3s linear;
    cursor: pointer;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    
}


form .buttonSpace button:hover{
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: 2px solid var(--main-color);
}

form .buttonSpace button:focus{
  
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: 2px solid var(--main-color);
  }

    .cardContainer { 
        
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
        gap: 16px;
        }
    .card {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        width: 150px;
        
        border-radius: 4px;
        height : 150px;
        margin: 12px;
        text-decoration: none;
        
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(38,38,38,0.2);
   
    }
    .card.gray {
        opacity: 0.5;
    }
    .check-icon {
        position: absolute;
        
        
        width: 100px;
        height: 100px;
        opacity: 1;
        transition: opacity 0.3s ease;
        

        }

.listCard { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}



.card-content {
    padding: 16px;
}
.card-title {
    font-size: 15px;
    margin: 0;
    margin-bottom: 8px;
}
.card-text {
    font-size: 10px;
    color: #666;
    margin: 0;
}



  
  
  
  
  
  
  
  
  
  
  .wrapper .details{
    justify-content: space-between;
  }
   button{
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    padding: 9px 15px;
    border-radius: 5px;
    background: var(--logo-color);
    transition: background 0.3s ease;
    
  }
   button:hover{
  
    padding: 9px 15px;
    border-radius: 5px;
    background: var(--logo-color);
    transition: background 0.3s ease;
  }
  
  
  