<div class="container">
    <div class="process">
        <div class="data">
            <div class="destinos">
                <span>Paises incluidos (destinos)</span>
                <div class="list-item">
                    <ul class="tagList"  >
                        <li  *ngFor="let tag of tags"  >
                            <svg xmlns="http://www.w3.org/2000/svg"  (click)="remove(tag)" height="20" width="20"  ><path d="M6.062 15 5 13.938 8.938 10 5 6.062 6.062 5 10 8.938 13.938 5 15 6.062 11.062 10 15 13.938 13.938 15 10 11.062Z"/></svg>
                            {{tag}}
                        </li>
                        
                        </ul>
        
                        <div class="options list " >
                            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20"><path d="M444 816V612H240v-72h204V336h72v204h204v72H516v204h-72Z"/></svg>
                            <select class="listado"  (change)="onSelect($event)" >
                                <option value="pais">Agregar</option>
                                <option value="America">America</option>
                                <option value="Europa">Europa</option>
                                <option value="Asia">Asia</option>
                                <option value="Oceania">Oceania</option>
                                <option value="Africa">Africa</option>
                                <option value="Antartida">Antartida</option>
                                <option  *ngFor="let pais of paises"   value={{pais.etiqueta}} > {{pais.etiqueta}}  </option>
                            </select>
                        </div>
                </div>


            </div>
    
            <div class="fechas">
                <span>Fechas</span>
                <div class="fechas-container">
                    <div class="fecha">
                        <label for="fecha_salida">Fecha de Salida</label>
                        <input type="date" [min]="minDate" name="fecha_salida" id="fecha_salida">
                    </div>
                    <div class="fecha">
                        <label for="fecha_retorno">Fecha de Retorno</label>
                        <input type="date" [min]="minDate" name="fecha_retorno" id="fecha_retorno">
                    </div>
                </div>
            </div>
    
            <div class="pasajeros">
                <span>Pasajeros ({{listPolizas.length}})</span>

                <div class="list-cards">
                    <ng-container *ngFor="let poliza of listPolizas" >

                        <form  [formGroup]="poliza.form" class="card">
                            <div class="field">
                                <label >Nombre(s)</label>
                                <input type="text" placeholder="Ingrese nombres aqui" formControlName="nombres" name="nombres" >
                            </div>
                            <div class="field">
                                <label >Apellido(s)</label>
                                <input type="text"  placeholder="Ingrese apellidos aqui" formContrlName="apellidos" name="apellidos"> 
                            </div>
                            <div class="field">
                                <label> Fecha de nacimiento</label>
                                <input type="date" placeholder="Fecha de nacimiento"  formControlName="age" name="age">
                            </div>
                            <div class="field">
                                <label >Numero de pasaporte</label>
                                <input type="text" placeholder="Inserte su pasaporte aqui" formControlName="passport" name="passport">
                            </div>
                            <div class="field">
                                <label >Nacionalidad</label>
                                <select name="nacionalidad" id="nacionalidad" formControlName="origen" name="origen">
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Peru">Peru</option>
            
                                </select>
                            </div>
                            <div class="field">
                                <label >Nro Whatsapp</label>
                                <div class="datos-numero">
                                    <select name="initial" formControlName="ext" name="ext">
                                        <option value="591">591</option>
                                        <option value="999">999</option>
                                        <option value="653">653</option>
                                        <option value="124">124</option>
                                    </select>
                                    <input type="text" placeholder="Inserte su numero aqui" formControlName="telf" name="telf">
                                </div>
                            </div>
                            <div class="field">
                                <label>Email</label>
                                <input type="email" placeholder="Inserte su email aqui" formControlName="email" name="email">
                            </div>
                            <hr class="poliza">
                            <input  type="checkbox" formControlName="titular"    name="titular" id="titular" value="titular">
                            <label class="titular" for="titular">Titular</label>
        
                        </form>
                    </ng-container>
                    
                </div>


                <button class="add"  (click)="addItem()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 96 960 960" width="20"><path d="M444 816V612H240v-72h204V336h72v204h204v72H516v204h-72Z"/></svg>
                    Agregar pasajero(a)
                </button>
    
                
    
            </div>
            <hr class="poliza">
    
    
            <div class="space-button">
                <button class="generar">
                    Generar planes para polizas
                </button>
            </div>
            
    
        </div>

        
        



    </div>
    <div class="actions">
        <h2>Acciones</h2>
        <hr>
  
        <div class="buttons">
          <button    class="emitir active">
            Emitir Poliza
          </button>
          
          <button  class="cancelar" >
            Cancelar
          </button>
        </div>     

        <hr>




    </div>
</div>