
   <div class="container">
    <div class="list">
      <h2>Cupones</h2>
      <hr>
      <input type="text" placeholder="Buscar">
      <div class="information-container" *ngIf="hasLoaded">
        <app-popup [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" [message]="'Igualmente se puede editar la informacion'" [duration]="3000" ></app-popup>
      </div>
      <div class="table-container">
        
        <div class="table-data" [class.info]="hasLoaded" >
          <div class="loading" [@loadingAnimation]="hasLoaded ? 'hide' : 'show'">
            <img  
            src="assets/svg/loading.svg" 
            alt=""
            >
            <span>Espere un momento, cargando la informacion</span>
          </div>
          <table [@loadingAnimation]="hasLoaded ? 'show' : 'hide'" >
            <thead>
              <tr>
                <th>cupon_id</th>
                <th>servicio_id</th>
                <th>tipo_valor</th>
                <th>valor</th>
                <th>fecha_desde</th>
                <th>fecha_hasta</th>
                <th></th>
  
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cupon of listado_Cupones">
                <td class="link"  (click)="showDetails(cupon.cupon_id)" >
                  <span>
                    {{cupon.cupon_id}}

                  </span>
                </td>
                <td>{{cupon.servicio_id}}</td>
                <td>{{cupon.tipo_valor}}</td>
                <td>{{cupon.valor  | currency:'USD':'symbol':'1.2-2' }}</td>
                <td>{{cupon.fecha_desde | extractDate}}</td>
                <td>{{cupon.fecha_hasta | extractDate }} </td>
                <td class="link"  (click)="editDetails(cupon.cupon_id)" >
                  <span>Editar</span>
                </td>
                
  
  
              </tr>
              
            </tbody>
          </table>

        </div>
        <div class="table-selector">
          <div class="pagination">
              <button class=" btn active">
                <span>1</span>
              </button>
              <button class="btn">
                <span>2</span>
              </button>
            <div class="btn">
                 Siguiente
            </div>

          </div>
        </div>
      </div>


    </div>

    <div class="actions">
      <h2>Acciones</h2>
      <hr>

      <div class="buttons">
        
        
        <button (click)="createCupones()"  class="emitir" >
          Crear cupon
        </button>
      </div>     

      <hr>
    
    </div>
   </div>