.landing-page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  
  

li{ 
    list-style: none;
  }

  a{
    text-decoration: none;
    color: #5918B4;
    font-size: 1rem;
  }

  a:hover {
    scale: 1.05;
  }

  


  header {
    background-color: #fff;
    position: absolute;
    height: 10vh;
    width: 100%;
    z-index: 20;
    box-shadow: 0px 0px 10px 0px rgba(0.4,0,0,0.2);
    
    
   
    
  }

  main{
    overflow-y: auto;
    position: absolute;
    margin-top: 10vh;
    height: 90vh;
  }

 

  .navbar{
    padding: 0 30px;
    width: 100%;
    height: 100%;
    
    
    
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

  }


  .navbar .logo a { 
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar .logo {
    transition: scale 0.3s ease;

  }

  .navbar .logo:hover { 
    scale: 1.15;
  }

  .navbar .logo a h1{
    font-size: 30px;
  }
  h1 .trip{
    font-weight: bold;
    font-size: 35px;
    margin-left: -5px;

  }
  h1 .com{
    color: #DF085A;
    font-size: 20px;
  }

  

  .navbar .routes { 
    display: flex;
    
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


  .navbar .links{
    display: flex;
    gap: 2rem;

  }


  .navbar .links li {
    transition: scale 0.3s ease;
  }

  .navbar .links li:hover  { 
    scale: 1.15;
  }

  .navbar .toggle_btn { 
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    color: var(--text-color);
    fill : #000;
    font-size: 15px;
    cursor: pointer;
    display: none;
  }
  .cotizar_btn { 
    display: flex;
    flex-direction: row;
    fill: #fff;
    color: #fff;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #1D0F9F, #DF085A);
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 5px ;
    text-align: center;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
  }


  .assistrip_btn { 
    color: #5918B4;
    padding: 0.5rem 1rem;

    outline: none;
    width: 130px;
    border: 1px solid #5918B4;
    align-items: center;
    justify-content: center;

    
    font-size: 0.8rem;
    font-weight: bold;

    cursor: pointer;
    transition: scale 0.3s ease;
  }

  .assistrip_btn svg { 
    fill: #5918B4 ;
  }


  .assistrip_btn:hover { 
    scale: 1.05;
    
  }

  .assistrip_btn:active{
    scale: 0.95;
  }


  .dropdown_menu{
    display:none;
    position: absolute;
    z-index: 25;
    right: 0rem;
    top: 60px;
    height: 0;
    width: 300px;
    background : #fff;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .dropdown_menu.open { 
   display: block;
    height: fit-content;
    padding-bottom: 10px;
    z-index: 20;
    transition: 0.5 ease-in-out;
    opacity: 1;
  }

  


  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .dropdown_menu .assistrip_btn { 
    width: 100%;
    display: flex;
    text-align: center;
  }


  


  @media ( max-width:992px){

   
    

    .navbar .links,
    .navbar .assistrip_btn { 
        display: none;
    }


    .navbar .routes { 
        display: flex;
        gap: 0.5rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .navbar .toggle_btn { 
      display: flex;
    }


    

    .cotizar_btn {
        width: 80px;
        font-size: small;
    }

    .navbar .logo  a  { 
        width: 100px;
    }

    .navbar .logo a h1{
      font-size: 20px;
    }
    h1 .trip{
      font-weight: bold;
      font-size: 25px;
      margin-left: -5px;
  
    }
    h1 .com{
      color: #DF085A;
      font-size: 15px;
    }
  

    .routes .assistrip_btn { 
        display: none;
    }

  }

  /* Responsive flex */


  