.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.title{
  padding: 10px 0px;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  color: var(--main-color);

}

hr{
    margin: 10px 0px;
    width: 100%;
    height: 0.25px;
    background-color: #dedddc;
    border: none;
}

.list{
  width: 100%;
}


message{
  width: 100%;
}
