
    <div class="box-form">
        <div class="grid-container">
            <div class="grid-item-1">
                <div class="container_form">    
                    <header>Fechas y Destinos</header>
        
                    <form   (ngSubmit)="onSubmit()">
                        <div class="form first">
                            <div class="details personal">
                                <span class="title">Las fechas del viaje</span>
            
                                <div class="fields">
                                    <div class="input-field">
                                        <label  for="fechaSalida" >Fecha de salida</label>
                                        <input type="date" placeholder="Ingresar la fecha de salida" id="fechaSalida" [(ngModel)]="formData.initialDate">

                                    </div>
            
                                    <div class="input-field">
                                        <label for="fechaLlegada">Fecha de llegada</label>
                                        <input type="date" placeholder="Ingresar la fecha de llegada" id="fechaLlegada" [(ngModel)]="formData.finalDate" >
                                    </div>
                                    
            
                                    
                                </div>
                                
                               

                                        <div class="wrapper">
                                            <div class="title">
                                              
                                              <h2>Destinos</h2>
                                            </div>
                                            <div class="content">
                                              <p>Agregar los destinos</p>
                                              <ul class="tagList">
                                                <li *ngFor="let tag of tags"  >
                                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"  (click)="remove(tag)" ><path d="M6.062 15 5 13.938 8.938 10 5 6.062 6.062 5 10 8.938 13.938 5 15 6.062 11.062 10 15 13.938 13.938 15 10 11.062Z"/></svg>
                                                    {{tag}} 
                                                </li>
                                              </ul>
                                            </div>
                                      
                                            <div class="options" >
                                              <select class="listado" (change)="onSelect($event)" name="listado" id="listadoId">
                                                  <option  *ngFor="let pais of paises"  value={{pais.etiqueta}} > {{pais.etiqueta}}  </option>
                                                  
                                                  
                                              </select>
                                              
                                            </div>
                                          </div>
                                
                            </div>
                            
                            <div class="buttonSpace">
                                <button type="submit"   type="button" class="nextBtn">
                                    <span class="btnText">Next</span>
                                </button>
                            </div>
                            
                        </div>
            
                      <button type="submit">Guardar</button>
                    </form>
                </div>
               


            </div>
            <div class="grid-item-2">Element 2 (1/3)</div>

        </div>
        
    
    
    
    </div>
    