.box-form{
   
    padding: 10px;
    
    height: 85vh;
}

/* ===== Google Font Import - Poppins ===== */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
} */


.grid-container {
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 1fr; /* set column widths to 2/3 and 1/3 of the available space */
    grid-gap: 10px; /* set gap between grid items */
  }
  .grid-item-1 {
    
    
    padding: 10px;
  }
  .grid-item-2 {
    height: 75vh;
    width: 400px;
    position: absolute;
    right: 10px;
    margin-right: 20px;
    background: var(--body-bg);
    border-radius: 10px;
    padding: 18px 25px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
    
  }

  


  .containerData {
    display: flex;
    
  }

  .containerTitular { 
    margin-bottom: 100px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items : start;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
  }

  .text {
    white-space: pre-wrap;
    margin: 0;
   
    overflow: hidden;
    text-align: start;
  }
  /* apply responsive styles */
  @media (max-width: 1050px) {
    .grid-container {
      grid-template-columns: 1fr; /* switch to one column layout for small screens */
    }

    .options .listado{
        width: 100%;
        color: black;  
      }
      .grid-item-2{
        position:relative;
        height: 100%;
        width: 100%;
      }
      .grid-item-2.last {
        position:relative;
        left: 5px;
        height: 100%;
        width: 100%;
      }

      .column {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
      }

      .prevBtn { 
        display: flex ;
      }
      
    
      
  }




.container_form{
    
    
    width: 90%;
    background: var(--body-bg);
    
}

.form  { 
  display: none;
}

.activeForm{

  display: grid;
}

header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
header::before{
    content: "";
    
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}




.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: var(--logo-color);
    transition: all 0.3s linear;
    cursor: pointer;
}


.buttonSpace{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn:focus{
  background-color: var(--blue);
}

.grid-item-2 p {
  font-size: 16px; /* Ajuste el tamaño de fuente según sus necesidades */
  word-wrap: break-word; /* Permite que las palabras se rompan si son demasiado largas para caber en una línea */
}

.buttonSpace{
  position: absolute;
  flex-direction: row;
  bottom: 10px;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buttonSpace button { 
  display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;    
   margin: 10px;
   width: 70px;
   height: 40px;
   background-color: var(--body-bg);
  
   transition: all 0.3s linear;
   cursor: pointer;
   border: 2px solid var(--main-color);
   color: var(--main-color);
   
}

.buttonSpace button:hover{
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: 2px solid var(--main-color);
}


.buttonSpace button:focus{
  
  background-color: var(--main-color);
  color: white;
  cursor: pointer;
  border: 2px solid var(--main-color);
}
  

.prev { 
  display: none;
}

.next{ 
  display: none;
}

.last{ 
  position:absolute;
        height: 85%;
        width: 75%;
        right: 20px;
        bottom: 20px;
    background: var(--body-bg);
    border-radius: 10px;
    padding: 18px 25px 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.06);
}
  

