
    <div class="box-form">
        <div class="grid-container">
            <div class="grid-item-1">
                <div class="container_form">    
                    
                    <div class="form first"  *ngIf="stepForm === 2">
                        <app-form-dates-destination  [countries]="paises"></app-form-dates-destination>  
                        <div class="buttonSpace">
                
                                <button type="submit" class="nextBtn btn"  (click)="comprobarInfo()">
                                    <span class="btnText">Next</span>
                                </button>
                            
                        </div>                    
                    </div>

                    <div class="form second"  *ngIf="stepForm === 1">                        
                        <app-list-policies-group></app-list-policies-group>
                        <div class="buttonSpace">
                
            
                            <button type="button"  class="backBtn btn">
                                <span class="btnText"  >Prev</span>
                            </button>

                            
                            <button type="submit" class="nextBtn  btn"  (click)="comprobarInfo()">
                                <span class="btnText">Next</span>
                            </button>
                        
            
                    </div>                     
                    </div>  

                </div>

            </div>
            <div class="grid-item-2">
                <header>Datos de las polizas</header>

                <p>Fecha de salida : {{datos.initialDate}}</p>
                <p>Fecha de llegada : {{datos.finalDate}}</p>
                <p>Paises destino: {{datos.paises}}</p>

            </div>

        </div>
        
    
    
    
    </div>
    