.container{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-color);
}


.field{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.title{
  font-size: 12px;
}
.description{
  padding: 10px 0px;
  font-size: 14px;
  font-weight: bold;
}

.process{
  border: 1px solid coral;
  color: coral;
  width : fit-content;
  padding : 10px 20px

}
.success{
  border: 1px solid green;
  color: green;
  width : fit-content;
  padding : 10px 20px
}
.denied{
  border: 1px solid gray;
  color: gray;
  width : fit-content;
  padding : 10px 20px
}


.status{
  position : absolute ;
  right : 10px;
  top : 10px;
  display: flex;
  flex-direction: column;


}

select{
  font-style: 'Lato';
  padding: 10px 10px;

}

button{
  border: 1px solid var(--main-color);
  margin: 20px 0px;
  padding: 5px;
  border-radius: 2px;
  font-size: 14px;
  background-color: var(--main-color);
  color: white;
}
