/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


:root {
    --body-bg: #fafafb;
    --box-bg: #ffffff;
    /* --main-color: #5e34eb;
    --logo-color: #5e34eb; */
    --main-color: #34189A;
    --logo-color: #34189A;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);
    --red: #DB504A;
    --blue: #3C91E6;
    --light-blue: #CFE8FF;
	--grey: #eee;
    --box-border-radius: 15px;
    --sidebar-size: 300px;
    --sidebar-logo-img-size: 45px;
    --sidebar-logo-size: 60px;
    --profile-image-size: 45px;
    --main-header-height: 80px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --darkmode-toggle-size: 20px;
}

.dark {
    --body-bg: #1a191f;
    --box-bg: #1a191f;
    --border-color: #222028;
    --text-color: #b9b9b9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
  }
  

body {
    
    
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    
    
    
}

.z-index-25{
    z-index: 25;
}
